<!DOCTYPE html>
<html class="js" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- <base href="../"> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" th:href="@{/images/OP_ico.png}">
    <!-- Page Title  -->
    <title>Добавлення товару</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" th:href="@{/css/dashlite.css}">
    <link id="skin-default" rel="stylesheet" th:href="@{/css/theme.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tiny.cloud/1/j7qa848foatnucsr63lz000n2e0yxzhelq772wnn61gpyclv/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</head>

<body class="nk-body bg-lighter npc-general has-sidebar ">
<div class="nk-app-root">
    <!-- main @s -->
    <div class="nk-main ">
        <!-- sidebar @s -->
        <div th:replace="~{admin/fragments/fragAdminHeader.html}"></div>
        <!-- sidebar @e -->

        <!-- wrap @s -->
        <div class="nk-wrap ">
            <!-- main header @s -->
            <div class="nk-header nk-header-fixed is-light">
                <div class="container-fluid">
                    <div class="nk-header-wrap">
                        <div class="nk-menu-trigger d-xl-none ml-n1">
                            <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
                        </div>
                        <div class="nk-header-brand d-xl-none">
                            <a href="/admin/products" class="logo-link">
                                <img class="logo-light logo-img" th:src="@{/images/logo-light.png}" th:srcset="@{/images/logo-light.png}" alt="logo">
                                <img class="logo-dark logo-img" th:src="@{/images/logo-dark.png}" th:srcset="@{/images/logo-dark.png}" alt="logo-dark">
                            </a>
                        </div><!-- .nk-header-brand -->

                        <div class="nk-header-tools">
                            <ul class="nk-quick-nav">
                                <li class="dropdown user-dropdown">
                                    <div class="user-toggle">
                                        <div class="user-avatar sm">
                                            <em class="icon ni ni-user-alt"></em>
                                        </div>
                                        <div class="user-info d-none d-md-block">
                                            <h6>Адміністратор</h6>
                                        </div>
                                    </div>
                                </li><!-- .dropdown -->
                                <li>
                                    <a href="/logout" class="nk-quick-nav-icon" data-toggle="tooltip" data-placement="bottom" title="Вийти">
                                        <em class="icon ni ni-signout"></em>
                                    </a>
                                </li>
                            </ul><!-- .nk-quick-nav -->
                        </div><!-- .nk-header-tools -->
                    </div><!-- .nk-header-wrap -->
                </div><!-- .container-fliud -->
            </div>
            <!-- main header @e -->
            <!-- content @s -->
            <div class="nk-content ">
                <div class="container-fluid">
                    <div class="nk-content-inner">
                        <div class="nk-content-body">
                            <div class="components-preview wide-md mx-auto">
                                <div class="nk-block-head nk-block-head-lg wide-sm">
                                    <div class="nk-block-head-content">
                                        <div class="nk-block-head-sub"><a class="back-to" href="/admin/products"><em class="icon ni ni-arrow-left"></em><span>Назад</span></a></div>
                                        <h3 class="nk-block-title fw-normal">Добавлення товару</h3>
                                    </div>
                                </div><!-- .nk-block-head -->
                                <div class="nk-block nk-block-lg">
                                    <div class="card card-bordered card-preview">
                                        <div class="card-inner">
                                            <div class="preview-block">
                                                <span class="preview-title-lg overline-title">Загальна інформація</span>
                                                <div class="row gy-4">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="form-label" for="productImage">Зображення</label>
                                                            <div class="form-control-wrap">
                                                                <div class="custom-file">
                                                                    <input type="file" multiple class="custom-file-input" id="productImage" name="multipartFile" onchange="validateimg(this)">
                                                                    <label class="custom-file-label" for="productImage"></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Виробник</label>
                                                            <div class="form-control-wrap">
                                                                <select class="form-select form-control form-control-lg" name="producer.id">
                                                                    <option th:each="pr :${producers}" th:value="${pr.getId()}" th:text="${pr.getName()}"></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Категорія</label>
                                                            <div class="form-control-wrap">
                                                                <select class="form-select form-control form-control-lg" multiple="multiple" id="mainCategories" name="category">
                                                                    <option th:each="ct :${categories}" th:value="${ct.getId()}" th:text="${ct.getName()}"></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Підкатегорія</label>
                                                            <div class="form-control-wrap">
                                                                <select class="form-select form-control form-control-lg" multiple="multiple" id="subCategories" name="categoryItem">
                                                                    <option th:each="it :${items}" th:value="${it.getId()}" th:text="${it.getName()}"></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label class="form-label" for="productName">Назва продукту</label>
                                                            <div class="form-control-wrap">
                                                                <input type="text" class="form-control" id="productName" placeholder="Назва..." name="name">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label class="form-label" for="productDescription">Опис</label>
                                                            <div class="form-control-wrap">
                                                                <textarea class="form-control" id="productDescription" placeholder="Введіть текст..." name="shortDescription"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr class="preview-hr">
                                                <span class="preview-title-lg overline-title">Вкладки</span>
                                                <div class="row gy-4">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label class="form-label" for="productDetailedDescription">Детальний опис</label>
                                                            <div class="form-control-wrap">
                                                                <textarea class="form-control rich-editor" id="productDetailedDescription" placeholder="Введіть текст..." name="details"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label class="form-label" for="productProportionsDescription">Рекомендована добова норма</label>
                                                            <div class="form-control-wrap">
                                                                <textarea class="form-control rich-editor" id="productProportionsDescription" placeholder="Введіть текст..." name="dailyNorm"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label class="form-label" for="productProducerDescription">Виробник</label>
                                                            <div class="form-control-wrap">
                                                                <textarea class="form-control rich-editor" id="productProducerDescription" placeholder="Введіть текст..." name="producerDetails"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr class="preview-hr">
                                                <span class="preview-title-lg overline-title">Пакування і ціна</span>
                                                <div class="row gy-4 align-center">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">Тип пакування</label>
                                                            <div class="form-control-wrap">
                                                                <input type="text" class="form-control" id="packageType" placeholder="Тип пакування..." name="category">
<!--                                                                <select class="form-select form-control form-control-lg" id="packageType" name="category">-->
<!--                                                                    <option th:value="1" th:text="штуки"></option>-->
<!--                                                                    <option th:value="2" th:text="кілограми"></option>-->
<!--                                                                </select>-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label" for="packSize">Одиниць</label>
                                                            <div class="form-control-wrap">
                                                                <input type="number" min="1" value="1" step="1" class="form-control" id="packSize" placeholder="Одиниць..." name="packSize">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label" for="inStock">К-сть на складі</label>
                                                            <div class="form-control-wrap">
                                                                <input type="number" min="1" value="1" step="1" class="form-control" id="inStock" placeholder="Кількість..." name="inStock">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <div class="preview-block">
                                                                <div class="custom-control custom-switch">
                                                                    <input type="checkbox" class="custom-control-input" id="activeProductItem" name="activeItem">
                                                                    <label class="custom-control-label" for="activeProductItem">Активний</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="form-control-wrap">
                                                                <div class="form-text-hint" style="top: 50%;">
                                                                    <span class="overline-title">UAH</span>
                                                                </div>
                                                                <label class="form-label" for="productPrice">Ціна</label>
                                                                <input type="text" pattern="[0-9]*\.?[0-9]*" class="form-control" id="productPrice" placeholder="Не заповнено..." name="price" value="0.00">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="form-control-wrap">
                                                                <div class="form-text-hint" style="top: 50%;">
                                                                    <span class="overline-title">UAH</span>
                                                                </div>
                                                                <label class="form-label" for="productPromotionalPrice">Акційна ціна</label>
                                                                <input type="text" pattern="[0-9]*\.?[0-9]*" class="form-control" id="productPromotionalPrice" placeholder="Не заповнено..." name="newPrice" value="0.00">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="preview-block">
                                                                <div class="custom-control custom-switch">
                                                                    <input type="checkbox" class="custom-control-input" id="promotedProduct" name="onSale">
                                                                    <label class="custom-control-label" for="promotedProduct">Акційний товар</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button title="Добавити позицію" id="addPosition" class="btn btn-icon btn-lg btn-primary float-right" style="margin-left: auto; margin-right: 0.75rem;">
                                                        <em class="icon ni ni-grid-add-c"></em>
                                                    </button>
                                                </div>
                                            <!-- Table -->
                                                <hr class="preview-hr">
                                                <table class="nk-tb-list nk-tb-ulist table-stripped" id="positionsTable" style="margin-top: 2rem;" data-auto-responsive="false">
                                                    <thead>
                                                    <tr class="nk-tb-item nk-tb-head">
                                                        <th class="nk-tb-col tb-col-lg">Тип пакування</th>
                                                        <td class="nk-tb-col">Кількість</td>
                                                        <td class="nk-tb-col tb-col-lg">К-сть на складі</td>
                                                        <td class="nk-tb-col tb-col-lg">Активний</td>
                                                        <td class="nk-tb-col">Ціна</td>
                                                        <td class="nk-tb-col tb-col-lg">Акційний товар</td>
                                                        <td class="nk-tb-col tb-col-lg">Акційна ціна</td>
                                                        <td class="nk-tb-col tb-col-hide">ID</td>
                                                        <th class="nk-tb-col"><span class="sub-text" style="text-align: right; padding-right: 2rem;">Дії</span></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    </tbody>
                                                </table>
                                            <!-- Table -->
                                                <div class="form-group" style="margin-top: 1rem;">
                                                    <button type="button" id="addProductBtn" class="btn btn-outline-primary">Добавити</button>
                                                    <a href="/admin/products" type="button" class="btn btn-outline-danger">Скасувати</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .card-preview -->
                                </div><!-- .nk-block -->
                            </div><!-- .components-preview -->
                        </div>
                    </div>
                </div>
            </div>



            <!-- Change status start -->
            <div class="modal fade" tabindex="-1" role="dialog" id="editItemModal" aria-modal="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                        <div class="modal-body modal-body-md">
                            <h4 class="title">Змінити позицію</h4>
                            <br>
                            <form action="" method="post">
                                <input type="number" id="selectedForChangingStatusItem" hidden="" name="productId">
                                <div class="row gy-4 align-center">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">Тип пакування</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" id="editPackageType" placeholder="Тип пакування..." name="category">
<!--                                                <select class="form-select form-control form-control-lg" id="editPackageType" name="category">-->
<!--                                                    <option th:value="шт." th:text="штуки"></option>-->
<!--                                                    <option th:value="кг" th:text="кілограми"></option>-->
<!--                                                </select>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label" for="editPackSize">Одиниць</label>
                                            <div class="form-control-wrap">
                                                <input type="number" min="1" value="1" step="1" class="form-control" id="editPackSize" placeholder="Одиниць..." name="packSize">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label" for="editInStock">К-сть на складі</label>
                                            <div class="form-control-wrap">
                                                <input type="number" min="1" value="1" step="1" class="form-control" id="editInStock" placeholder="Кількість..." name="inStock">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="preview-block">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="editActiveProductItem" name="activeItem">
                                                    <label class="custom-control-label" for="editActiveProductItem">Активний</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <div class="form-text-hint" style="top: 50%;">
                                                    <span class="overline-title">UAH</span>
                                                </div>
                                                <label class="form-label" for="editProductPrice">Ціна</label>
                                                <input type="text" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editProductPrice" placeholder="Не заповнено..." name="price" value="0.00">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <div class="form-text-hint" style="top: 50%;">
                                                    <span class="overline-title">UAH</span>
                                                </div>
                                                <label class="form-label" for="editProductPromotionalPrice">Акційна ціна</label>
                                                <input type="text" pattern="[0-9]*\.?[0-9]*" class="form-control" id="editProductPromotionalPrice" placeholder="Не заповнено..." name="newPrice" value="0.00">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="preview-block">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="editPromotedProduct" name="onSale">
                                                    <label class="custom-control-label" for="promotedProduct">Акційний товар</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-outline-primary">Підтвердити</button>
                                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Скасувати</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Change status end -->


            <!-- Delete product start -->
            <div class="modal fade" tabindex="-1" role="dialog" id="deleteProductModal" aria-modal="true">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                        <div class="modal-body modal-body-md">
                            <h4 class="title">Видалення товару</h4>
                            <br>
                            <form action="/admin/deleteProductById" method="post">
                                <input type="number" id="selectedForDeleteItem" hidden="" name="productId">
                                <p style="margin-bottom: 2rem;">Ви впевнені, що хочете видалити позицію? Підтвердивши дію, Ви не зможете повернутися до попереднього стану.</p>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-outline-primary">Підтвердити</button>
                                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Скасувати</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Delete product end -->

            <!-- content @e -->
            <!-- footer @s -->
            <div th:replace="~{/admin/fragments/fragAdminFooter.html :: adminFooter}"></div>
            <!-- footer @e -->
        </div>
        <!-- wrap @e -->
    </div>
    <!-- main @e -->
</div>
<!-- app-root @e -->
<!-- JavaScript -->
<script th:src="@{/js/bundle.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
<!--<script th:src="@{/js/example-sweetalert.js}"></script>-->
<script>

    class PackageType {
        id;
        price;
        newPrice;
        packSize;
        packType;
        onSale;
        statusOfEntity;
        countOfProduct;

        constructor(id,price,newPrice,packSize,packType,onSale,countOfProduct,statusOfEntity) {
            this.id = id;
            this.price = price;
            this.newPrice = newPrice;
            this.packSize = packSize;
            this.packType = packType;
            this.onSale = onSale;
            this.statusOfEntity = statusOfEntity;
            this.countOfProduct = countOfProduct;
        }
    }

    let objArr = [];

    $(document).ready(function() {
        let t = $('#positionsTable').DataTable({
            "autoWidth": false,
            "searching": false,
            "paging": false,
            "info": false,
            'select': false,
        });

        let counterId = 1;

        $('#addPosition').on( 'click', function () {
            counterId ++;
            let btn = "<td class='nk-tb-col nk-tb-col-tools'>\n" +
"                                                            <ul class=\"nk-tb-actions gx-1\">\n" +
"                                                                <li>\n" +
"                                                                    <div class=\"drodown\">\n" +
"                                                                        <a href=\"#\" class=\"dropdown-toggle btn btn-icon btn-trigger\" data-toggle=\"dropdown\"><em class=\"icon ni ni-more-h\"></em></a>\n" +
"                                                                        <div class=\"dropdown-menu dropdown-menu-right\">\n" +
"                                                                            <ul class=\"link-list-opt no-bdr\">\n" +
"                                                                                <li><a data-toggle=\"modal\" onclick=\"showEditItemModal(this)\"><em class=\"icon ni ni-edit-alt\"></em><span>Редагувати</span></a></li>\n" +
"                                                                                <li><a data-toggle=\"modal\" onclick=\"showConfirmationDeleteItemModal(this)\" ><em class=\"icon ni ni-trash\"></em><span>Видалити</span></a></li>\n" +
"                                                                            </ul>\n" +
"                                                                        </div>\n" +
"                                                                    </div>\n" +
"                                                                </li>\n" +
"                                                            </ul>\n" +
"                                                        </td>";

            let packageType =               $('#packageType').val().trim();
            let packSize =                  $('#packSize').val().trim();
            let inStock =                   $('#inStock').val().trim();
            let activeProductItem =         $('#activeProductItem').is(":checked");
            let productPrice =              $('#productPrice').val().trim();
            let productPromotionalPrice =   $('#productPromotionalPrice').val().trim();
            let promotedProduct =           $('#promotedProduct').is(":checked");
            let id =                        0;

            let rowNode = t.row.add([
                 packageType,
                 packSize,
                 inStock,
                 activeProductItem,
                 productPrice,
                 promotedProduct,
                 productPromotionalPrice,
                 id,
                 btn
            ]).draw(false).node();
            $(rowNode).addClass('nk-tb-item');
            $(rowNode).attr('id', counterId);

            $( rowNode ).find('td').eq(0).addClass('nk-tb-col tb-col-lg');
            $( rowNode ).find('td').eq(1).addClass('nk-tb-col');
            $( rowNode ).find('td').eq(2).addClass('nk-tb-col tb-col-lg');
            $( rowNode ).find('td').eq(3).addClass('nk-tb-col tb-col-lg');
            $( rowNode ).find('td').eq(4).addClass('nk-tb-col');
            $( rowNode ).find('td').eq(5).addClass('nk-tb-col tb-col-lg');
            $( rowNode ).find('td').eq(6).addClass('nk-tb-col tb-col-lg');
            $( rowNode ).find('td').eq(7).addClass('nk-tb-col tb-col-hide');
            $( rowNode ).find('td').eq(8).addClass('nk-tb-col nk-tb-col-tools');
        } );

        $('#addProductBtn').on( 'click', function () {
            t.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
                let data = this.data();
                let obj = new PackageType();

                console.log(this.data());

                obj.packType = data[0];
                obj.packSize = data[1];
                obj.countOfProduct = data[2];
                obj.statusOfEntity = data[3];
                obj.price = data[4];
                obj.onSale = data[5];
                obj.newPrice = data[6];
                obj.id = data[7];

                objArr.push(obj);
            } );

            $.ajax({
                method: "post",
                url: "/admin/products/add",
                contextType: "application/json",
                data: {
                    packageTypes: objArr
                },
                traditional: true,
                success: function () {
                    alert("Success!")
                },
                error: function () {
                    alert("Error!");
                }
            }); //ajax end
        });//button click end
    }); //ready() end



    function showEditItemModal(btnObj) {
        let trObj = btnObj.closest("tbody tr");
        let trId =  $(trObj).attr('id');

        console.log("row id: "+trId);

        let packageType =               $(trObj).find('td:eq(0)').text();
        let packSize =                  $(trObj).find('td:eq(1)').text();
        let inStock =                   $(trObj).find('td:eq(2)').text();
        let activeProductItem =         $(trObj).find('td:eq(3)').text();
        let productPrice =              $(trObj).find('td:eq(4)').text();
        let productPromotionalPrice =   $(trObj).find('td:eq(6)').text();
        let promotedProduct =           $(trObj).find('td:eq(5)').text();


        if (promotedProduct.trim()=='true'){
            $('#editPromotedProduct').attr("checked", true);
        }else if (promotedProduct.trim()=='false') {
            $('#editPromotedProduct').attr("checked", false);
        }

        if (activeProductItem.trim()=='true'){
            $('#editActiveProductItem').attr("checked", true);
        }else if (activeProductItem.trim()=='false') {
            $('#editActiveProductItem').attr("checked", false);
        }

        $('#editPackageType')               .val(packageType);
        $('#editPackSize')                  .val(packSize);
        $('#editInStock')                   .val(inStock);
        $('#editProductPrice')              .val(productPrice);
        $('#editProductPromotionalPrice')   .val(productPromotionalPrice);
        // $('#editPromotedProduct') .val(promotedProduct);

        $('#editItemModal').modal('show');
    }

    function showConfirmationDeleteItemModal(btnObj){
        let trObj = btnObj.closest("tbody tr");
        let trId =  $(trObj).attr('id');

        console.log("row id:" + $(trObj).attr('id'));

        $('#selectedForDeleteItem').val(trId);

        $('#deleteProductModal').modal('show');
    }

    function validateimg(ctrl) {
        var fileUpload = ctrl;
        var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.png|.gif)$");
        if (regex.test(fileUpload.value.toLowerCase())) {
            if (typeof (fileUpload.files) != "undefined") {
                var reader = new FileReader();
                reader.readAsDataURL(fileUpload.files[0]);
                reader.onload = function (e) {
                    var image = new Image();
                    image.src = e.target.result;
                    image.onload = function () {
                        let height = this.height;
                        let width = this.width;
                        let aspectRatio = width/height;
                        if ((aspectRatio.toFixed(2)>0.60) && (aspectRatio.toFixed(2)<0.70)) {
                            console.log("Asp rat: "+aspectRatio.toFixed(2));
                            return true;
                        }else{
                            console.log("Asp rat: "+aspectRatio.toFixed(2));
                            alert("Некоректне співвідношення сторін фотографії!");
                            $("#productImage").val('');
                            return false;
                        }
                    };
                }
            } else {
                alert("Ваш браузер не підтримує HTML5.");
                $("#productImage").val('');
                return false;
            }
        } else {
            alert("Недопустимий формат файлу.");
            $("#productImage").val('');
            return false;
        }
    }

</script>
<script>
    tinymce.init({
        selector: '.rich-editor',
        plugins: 'advcode casechange formatpainter linkchecker autolink lists checklist media mediaembed powerpaste table advtable',
        toolbar: 'casechange code table',
        toolbar_mode: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name'
    });
</script>
</body>

</html>