<!DOCTYPE html>
<html class="js" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- <base href="../"> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" th:href="@{/images/OP_ico.png}">
    <!-- Page Title  -->
    <title>Замовлення</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" th:href="@{/css/dashlite.css}">
    <link id="skin-default" rel="stylesheet" th:href="@{/css/theme.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body class="nk-body bg-lighter npc-general has-sidebar ">
<div class="nk-app-root">
    <!-- main @s -->
    <div class="nk-main ">
        <!-- sidebar @s -->
        <div th:replace="~{admin/fragments/fragAdminHeader.html}"></div>
        <!-- sidebar @e -->

        <!-- wrap @s -->
        <div class="nk-wrap ">
            <!-- main header @s -->
            <div class="nk-header nk-header-fixed is-light">
                <div class="container-fluid">
                    <div class="nk-header-wrap">
                        <div class="nk-menu-trigger d-xl-none ml-n1">
                            <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
                        </div>
                        <div class="nk-header-brand d-xl-none">
                            <a href="/admin/products" class="logo-link">
                                <img class="logo-light logo-img" th:src="@{/images/logo-light.png}" th:srcset="@{/images/logo-light.png}" alt="logo">
                                <img class="logo-dark logo-img" th:src="@{/images/logo-dark.png}" th:srcset="@{/images/logo-dark.png}" alt="logo-dark">
                            </a>
                        </div><!-- .nk-header-brand -->

                        <div class="nk-header-tools">
                            <ul class="nk-quick-nav">
                                <li class="dropdown user-dropdown">
                                    <div class="user-toggle">
                                        <div class="user-avatar sm">
                                            <em class="icon ni ni-user-alt"></em>
                                        </div>
                                        <div class="user-info d-none d-md-block">
                                            <h6>Адміністратор</h6>
                                        </div>
                                    </div>
                                </li><!-- .dropdown -->
                                <li>
                                    <a href="/logout" class="nk-quick-nav-icon" data-toggle="tooltip" data-placement="bottom" title="Вийти">
                                        <em class="icon ni ni-signout"></em>
                                    </a>
                                </li>
                            </ul><!-- .nk-quick-nav -->
                        </div><!-- .nk-header-tools -->
                    </div><!-- .nk-header-wrap -->
                </div><!-- .container-fliud -->
            </div>
            <!-- main header @e -->
            <!-- content @s -->
            <div class="nk-content ">
                <div class="container-fluid">
                    <div class="nk-content-inner">
                        <div class="nk-content-body">
                            <div class="components-preview wide-md mx-auto">
                                <div class="nk-block-head nk-block-head-lg wide-sm">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title fw-normal">Замовлення</h3>
                                    </div>
                                </div><!-- .nk-block-head -->

                                <div class="nk-block nk-block-lg">
                                    <div class="card card-bordered card-preview">
                                        <div class="card-inner">
                                            <ul class="nav nav-tabs mt-n3">
                                                <li class="nav-item" >
                                                    <a class="nav-link" th:classappend="${(activeTabId=='ALL')?'active':''}"  href="/admin/orders?status=ALL">
                                                        <em class="icon ni ni-chevrons-right"></em>
                                                        <span>Всі</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item" >
                                                    <a class="nav-link" th:classappend="${(activeTabId=='NEW')?'active':''}"  th:href="'/admin/orders?status=NEW'">
                                                        <em class="icon ni ni-chevrons-right"></em>
                                                        <span>Нові</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item" >
                                                    <a class="nav-link" th:classappend="${(activeTabId=='NOT_SUBMITTEDWAIT_FOR_PAYMENTPAYMENT_BY_CASH')?'active':''}"  th:href="'/admin/orders?status=NOT_SUBMITTED&status=WAIT_FOR_PAYMENT&status=PAYMENT_BY_CASH'">
                                                        <em class="icon ni ni-chevrons-right"></em>
                                                        <span>Не оплачені</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item" >
                                                    <a class="nav-link" th:classappend="${(activeTabId=='SUBMITTED')?'active':''}"  th:href="'/admin/orders?status=SUBMITTED'">
                                                        <em class="icon ni ni-chevrons-right"></em>
                                                        <span>Оплачені</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item" >
                                                    <a class="nav-link" th:classappend="${(activeTabId=='DELIVERED')?'active':''}"  th:href="'/admin/orders?status=DELIVERED'">
                                                        <em class="icon ni ni-chevrons-right"></em>
                                                        <span>Доставлені</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item" >
                                                    <a class="nav-link" th:classappend="${(activeTabId=='FINISHED')?'active':''}"  th:href="'/admin/orders?status=FINISHED'">
                                                        <em class="icon ni ni-chevrons-right"></em>
                                                        <span>Закінчені</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item" >
                                                    <a class="nav-link" th:classappend="${(activeTabId=='CANCELLED')?'active':''}"  th:href="'/admin/orders?status=CANCELLED'">
                                                        <em class="icon ni ni-chevrons-right"></em>
                                                        <span>Відмінені</span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="firstTab">
                                                    <!--                   Inner tabs start                               -->
                                                        <div class="tab-content">
                                                            <div class="tab-pane active" id="firstTabInner">
                                                                <table class="datatable-init nk-tb-list nk-tb-ulist" data-auto-responsive="false" id="tableOfOrders">
                                                                    <thead>
                                                                        <tr class="nk-tb-item nk-tb-head">
                                                                            <th class="nk-tb-col tb-col-md">Дата</th>
                                                                            <th class="nk-tb-col"><span class="sub-text">Замовник</span></th>
                                                                            <th class="nk-tb-col tb-col-sm"><span class="sub-text">Телефон</span></th>
                                                                            <th class="nk-tb-col"><span class="sub-text">Сума</span></th>
                                                                            <th class="nk-tb-col tb-col-sm" style="text-align: center;"><span class="sub-text"><em class="icon ni ni-coins" style="font-size: initial"></em></span></th>
                                                                            <th class="nk-tb-col tb-col-sm"><span class="sub-text">Статус</span></th>
                                                                            <th class="nk-tb-col tb-col-hide"><span class="sub-text">Адрес</span></th>
                                                                            <th class="nk-tb-col"><span class="sub-text" style="text-align: right; padding-right: 2rem;">Дії</span></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr class="nk-tb-item" th:id="${order.getId()}" th:each="order : ${orders}">
                                                                            <td class="nk-tb-col tb-col-md" th:text="${order.getDate()}">
                                                                                01/01/2021
                                                                            </td>
                                                                            <td class="nk-tb-col" style="white-space: normal;">
                                                                                <div class="user-info">
                                                                                    <span class="tb-lead" th:text="${order.getNameOfClient()}">Roman Tymochko</span>
                                                                                </div>
                                                                            </td>
                                                                            <td class="nk-tb-col tb-col-sm">
                                                                                <span th:text="${order?.getPhone()?.getPhone()}">+48-883-913-896</span>
                                                                            </td>
                                                                            <td class="nk-tb-col">
                                                                                <span th:text="${order.getSumPrice()}">14.88</span>
                                                                            </td>
                                                                            <td class="nk-tb-col tb-col-sm">
                                                                                <span th:text="${order.getPayment().toString()}"></span>
                                                                            </td>
                                                                            <td class="nk-tb-col tb-col-sm">
                                                                                <span th:text="${order.getStatusOfOrder().toString()}">Статус</span>
                                                                            </td>
                                                                            <td class="nk-tb-col tb-col-hide">
                                                                                <span th:text="${order.getDescription()}">Lviv, Lorem ipsum dolor sit amet asdasd asdasda asdasda asda sd, 12</span>
                                                                            </td>
                                                                            <td class="nk-tb-col nk-tb-col-tools">
                                                                                <ul class="nk-tb-actions gx-1">
                                                                                    <li>
                                                                                        <div class="drodown">
                                                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                                                <ul class="link-list-opt no-bdr">
                                                                                                    <li><a data-toggle="modal" onclick="orderQuickView(this)"><em class="icon ni ni-eye"></em><span>Швидкий перегляд</span></a></li>
                                                                                                    <li><a th:href="@{|/admin/orders/orderReview/${order?.getId()}|}"><em class="icon ni ni-edit-alt"></em><span>Деталі замовлення</span></a></li>
                                                                                                    <li><a data-toggle="modal" onclick="showConfirmationDeleteProductModal(this)" ><em class="icon ni ni-archive"></em><span>Архівувати</span></a></li>
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </li>
                                                                                </ul>
                                                                            </td>
                                                                        </tr><!-- .nk-tb-item  -->

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    <!--                     Inner tabs end                               -->
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .card-preview -->
                                </div> <!-- nk-block -->
                            </div><!-- .components-preview -->
                        </div>
                    </div>
                </div>
            </div>

            <a href="#" data-toggle="modal" data-target="#addOrderModal"  title="Створити замовлення" class="btn btn-icon btn-lg btn-primary float-right" style="position: fixed; bottom: 25px; right: 25px; z-index: 1000;">
                <em class="icon ni ni-grid-add-c"></em>
            </a>

            <!-- Change status start -->
            <div class="modal fade" tabindex="-1" role="dialog" id="addOrderModal" aria-modal="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                        <div class="modal-body modal-body-md">
                            <div class="preview-block">
                                <form action="/admin/orders/addOrder" method="post">
                                    <span class="preview-title-lg overline-title">Замовник</span>
                                    <div class="row gy-4">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="form-label" for="customerNameSurname">Прізвище, ім'я</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="customerNameSurname" placeholder="Не заповнено..." name="nameOfClient">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="form-label" for="customerPhoneNumber">Телефон</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" id="customerPhoneNumber" placeholder="Введіть номер телефону*" value="+380" class="form-control" name="phone.phone">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="preview-hr">
                                    <span class="preview-title-lg overline-title">Замовлення (загальне)</span>
                                    <div class="row gy-4">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-label" for="orderDate">Дата</label>
                                                <div class="form-control-wrap">
                                                    <input type="date" class="form-control" id="orderDate" name="date">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-label" for="statusOfPaymentAdd">Статус оплати</label>
                                                <div class="form-control-wrap">
                                                    <select class="form-select" id="statusOfPaymentAdd" name="payment" >
                                                        <option value="NOT_SUBMITTED">NOT_SUBMITTED</option>
                                                        <option value="WAIT_FOR_PAYMENT">WAIT_FOR_PAYMENT</option>
                                                        <option value="PAYMENT_BY_CASH">PAYMENT_BY_CASH</option>
                                                        <option value="SUBMITTED">SUBMITTED</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-label" for="statusOfOrderAdd">Статус замовлення</label>
                                                <div class="form-control-wrap">
                                                    <select class="form-select" id="statusOfOrderAdd" name="statusOfOrder">
                                                        <option value="NEW">NEW</option>
                                                        <option value="DELIVERED">DELIVERED</option>
                                                        <option value="FINISHED">FINISHED</option>
                                                        <option value="CANCELLED">CANCELLED</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="preview-block">
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" checked class="custom-control-input" id="cityDelivery" onchange="changeDelivery('#cityDelivery', '#countryDelivery')" name="lvivDelivering">
                                                        <label class="custom-control-label" for="cityDelivery">Доставка по Львову</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="preview-block">
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input" id="countryDelivery" onchange="changeDelivery('#countryDelivery', '#cityDelivery')" name="novaPoshtaDelivering">
                                                        <label class="custom-control-label" for="countryDelivery">Нова Пошта</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="preview-block">
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input" id="wholesaleOrder" name="opt">
                                                        <label class="custom-control-label" for="wholesaleOrder">Опт</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="form-label" for="deliveryAddress">Адреса доставки</label>
                                                <div class="form-control-wrap">
                                                    <textarea class="form-control" id="deliveryAddress" name="description"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-top: 1rem;">
                                        <button type="submit" class="btn btn-outline-primary">Добавити</button>
                                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Скасувати</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Change status end -->

            <!-- Change status start -->
            <div class="modal fade" tabindex="-1" role="dialog" id="quickViewModal" aria-modal="true">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                        <div class="modal-body modal-body-md">
                            <h4 class="title">Замовлення від:</h4>
                            <h5 class="title" id="buyerNameModal" style="width: 90%;"></h5>
                            <a href="#" id="phoneNumberRefModal" class="btn btn-dim btn-primary" style="margin: 0.5rem 0 1.5rem;">
                                <em class="icon ni ni-call"></em>
                                <span id="phoneNumberModal">Button Regular</span>
                            </a>
                            <h5 class="fw-medium">
                                Дата замовлення:
                                <small class="text-soft" id="orderDateModal"></small>
                            </h5>
                            <h5 class="fw-medium">
                                Сума замовлення:
                                <small class="text-soft" id="orderAmountModal"></small>
                            </h5>
                            <h5 class="fw-medium">
                                Адреса доставки:
                                <small class="text-soft" id="orderDeliveryAddressModal"></small>
                            </h5>
                            <br>
                            <form action="/admin/orders/modalUpdate" method="post">
                                <input type="text" id="selectedForChangingStatusItem" hidden="" name="id">
                                <div class="row align-center" style="    margin: 0 0 2rem;">
                                    <div class="col-6" style="padding: 0 1em 0 0;">
                                        <label class="form-label" for="statusOfPayment">Статус оплати</label>
                                        <div class="form-control-wrap">
                                            <select class="form-select" id="statusOfPayment" name="statusOfPayment">
                                                <option value="NOT_SUBMITTED">NOT_SUBMITTED</option>
                                                <option value="WAIT_FOR_PAYMENT">WAIT_FOR_PAYMENT</option>
                                                <option value="PAYMENT_BY_CASH">PAYMENT_BY_CASH</option>
                                                <option value="SUBMITTED">SUBMITTED</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6" style="padding: 0">
                                        <div class="form-group">
                                            <label class="form-label" for="statusOfOrder">Статус замовлення</label>
                                            <div class="form-control-wrap">
                                                <select class="form-select" id="statusOfOrder" name="statusOfOrder">
                                                    <option value="NEW">NEW</option>
                                                    <option value="DELIVERED">DELIVERED</option>
                                                    <option value="FINISHED">FINISHED</option>
                                                    <option value="CANCELLED">CANCELLED</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-outline-primary">Зберегти</button>
                                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Скасувати</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Change status end -->

            <!-- Delete product start -->
            <div class="modal fade" tabindex="-1" role="dialog" id="deleteProductModal" aria-modal="true">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                        <div class="modal-body modal-body-md">
                            <h4 class="title">Видалення товару</h4>
                            <br>
                            <form action="/admin/products/delete" method="post">
                                <input type="number" id="selectedForDeleteItem" hidden="" name="id">
                                <p style="margin-bottom: 2rem;">Ви впевнені, що хочете видалити товар? Підтвердивши дію, Ви не зможете повернутися до попереднього стану продукту.</p>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-outline-primary">Підтвердити</button>
                                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Скасувати</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Delete product end -->

            <!-- content @e -->
            <!-- footer @s -->
            <div th:replace="~{admin/fragments/fragAdminFooter.html :: adminFooter}"></div>
            <!-- footer @e -->
        </div>
        <!-- wrap @e -->
    </div>
    <!-- main @e -->
</div>
<!-- app-root @e -->
<!-- JavaScript -->
<script th:src="@{/js/bundle.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
<script th:src="@{/js/example-sweetalert.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>

<script>

    $(document).ready(function() {
        document.getElementById("year").innerHTML = new Date().getFullYear();
        $('#customerPhoneNumber').inputmask('+(999)-999-999-999');
        document.querySelector("#orderDate").valueAsDate = new Date();
    });


    function changeDelivery(current, next) {
        console.log("c:"+current+"; n:"+next);
        if ($(current).is(':checked')){
            console.log("act");
            $(next).prop("checked", false);
            $(current).prop('checked', true);
        }else{
            console.log("not");
            $(next).prop('checked', true);
            $(current).prop('checked', false);
        }
    }


    function orderQuickView(btnObj) {
        let trObj = btnObj.closest("tbody tr");
        let trId =  $(trObj).attr('id');

        console.log("row id:" + $(trObj).attr('id'));

        $('#selectedForChangingStatusItem').val(trId);

        let date =          $(trObj).find('td:eq(0)').text().trim();
        let buyer =         $(trObj).find('td:eq(1)').text().trim();
        let phone =         $(trObj).find('td:eq(2)').text().trim();
        let amount =        $(trObj).find('td:eq(3)').text().trim();
        let statusOfPayment=$(trObj).find('td:eq(4) span').text().trim();
        let statusOfOrder = $(trObj).find('td:eq(5) span').text().trim();
        let deliveryAddress=$(trObj).find('td:eq(6)').text().trim();

        $('#buyerNameModal').text(buyer);
        $('#phoneNumberModal').text(phone);
        $('#phoneNumberRefModal').attr('href', "tel:"+phone);
        $('#orderDateModal').text(date);
        $('#orderAmountModal').text(amount+" UAH");
        $('#orderDeliveryAddressModal').text(deliveryAddress);
        $('#statusOfPayment').val(statusOfPayment).change();
        $('#statusOfOrder').val(statusOfOrder).change();

        $('#quickViewModal').modal('show');
    }

    function showConfirmationDeleteProductModal(btnObj){
        let trObj = btnObj.closest("tbody tr");
        let trId =  $(trObj).attr('id');

        console.log("row id:" + $(trObj).attr('id'));

        $('#selectedForDeleteItem').val(trId);

        $('#deleteProductModal').modal('show');
    }

    function validateimg(ctrl) {
        var fileUpload = ctrl;
        var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.png|.gif)$");
        if (regex.test(fileUpload.value.toLowerCase())) {
            if (typeof (fileUpload.files) != "undefined") {
                var reader = new FileReader();
                reader.readAsDataURL(fileUpload.files[0]);
                reader.onload = function (e) {
                    var image = new Image();
                    image.src = e.target.result;
                    image.onload = function () {
                        let height = this.height;
                        let width = this.width;
                        let aspectRatio = width/height;
                        if ((aspectRatio.toFixed(2)>0.60) && (aspectRatio.toFixed(2)<0.70)) {
                            console.log("Asp rat: "+aspectRatio.toFixed(2));
                            return true;
                        }else{
                            console.log("Asp rat: "+aspectRatio.toFixed(2));
                            alert("Некоректне співвідношення сторін фотографії!");
                            $("#productImage").val('');
                            return false;
                        }
                    };
                }
            } else {
                alert("Ваш браузер не підтримує HTML5.");
                $("#productImage").val('');
                return false;
            }
        } else {
            alert("Недопустимий формат файлу.");
            $("#productImage").val('');
            return false;
        }
    }
</script>
</body>

</html>