<!DOCTYPE html>
<html class="js" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- <base href="../"> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" th:href="@{/images/OP_ico.png}">
    <!-- Page Title  -->
    <title>Історія приходу</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" th:href="@{/css/dashlite.css}">
    <link id="skin-default" rel="stylesheet" th:href="@{/css/theme.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body class="nk-body bg-lighter npc-general has-sidebar ">
<div class="nk-app-root">
    <!-- main @s -->
    <div class="nk-main ">
        <!-- sidebar @s -->
        <div th:replace="~{admin/fragments/fragAdminHeader.html}"></div>
        <!-- sidebar @e -->

        <!-- wrap @s -->
        <div class="nk-wrap ">
            <!-- main header @s -->
            <div class="nk-header nk-header-fixed is-light">
                <div class="container-fluid">
                    <div class="nk-header-wrap">
                        <div class="nk-menu-trigger d-xl-none ml-n1">
                            <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
                        </div>
                        <div class="nk-header-brand d-xl-none">
                            <a href="/admin/products" class="logo-link">
                                <img class="logo-light logo-img" th:src="@{/images/logo-light.png}" th:srcset="@{/images/logo-light.png}" alt="logo">
                                <img class="logo-dark logo-img" th:src="@{/images/logo-dark.png}" th:srcset="@{/images/logo-dark.png}" alt="logo-dark">
                            </a>
                        </div><!-- .nk-header-brand -->

                        <div class="nk-header-tools">
                            <ul class="nk-quick-nav">
                                <li class="dropdown user-dropdown">
                                    <div class="user-toggle">
                                        <div class="user-avatar sm">
                                            <em class="icon ni ni-user-alt"></em>
                                        </div>
                                        <div class="user-info d-none d-md-block">
                                            <h6>Адміністратор</h6>
                                        </div>
                                    </div>
                                </li><!-- .dropdown -->
                                <li>
                                    <a href="/logout" class="nk-quick-nav-icon" data-toggle="tooltip" data-placement="bottom" title="Вийти">
                                        <em class="icon ni ni-signout"></em>
                                    </a>
                                </li>
                            </ul><!-- .nk-quick-nav -->
                        </div><!-- .nk-header-tools -->
                    </div><!-- .nk-header-wrap -->
                </div><!-- .container-fliud -->
            </div>
            <!-- main header @e -->
            <!-- content @s -->
            <div class="nk-content ">
                <div class="container-fluid">
                    <div class="nk-content-inner">
                        <div class="nk-content-body">
                            <div class="components-preview wide-md mx-auto">
                                <div class="nk-block-head nk-block-head-lg wide-sm">
                                    <div class="nk-block-head-content">
                                        <div class="nk-block-head-sub"><a class="back-to" href="/admin/history"><em class="icon ni ni-arrow-left"></em><span>Назад</span></a></div>
                                        <h3 class="nk-block-title fw-normal">Історія приходу</h3>
                                    </div>
                                </div><!-- .nk-block-head -->
                                <div class="nk-block nk-block-lg">
                                    <div class="card card-bordered card-preview">

                                        <div class="card-inner">
                                            <div class="preview-block">
                                                <form action="/admin/history/edit" method="post" id="createHistoryForm">
<!--                                                <input id="hiddenIdOfOrder" type="text" hidden="" name="id" th:value="${order.getId()}">-->
                                                    <div class="row gy-4">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label" for="historySupplier">Постачальник</label>
                                                                <div class="form-control-wrap">
                                                                    <input type="text" id="historySupplier" th:value="${history.getProducer()}"  placeholder="Постачальник..." class="form-control" name="producer">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="form-label" for="historyDate">Дата</label>
                                                                <div class="form-control-wrap">
                                                                    <input type="date" class="form-control" id="historyDate" th:value="${history.getProducer()}" name="date">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <div class="form-control-wrap">
                                                                    <div class="form-text-hint" style="top: 50%;">
                                                                        <span class="overline-title">UAH</span>
                                                                    </div>
                                                                    <label class="form-label" for="historySum">Загальна сума</label>
                                                                    <input type="number" class="form-control"  th:value="${history.getSum()}" readonly id="historySum" name="sum">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <hr class="preview-hr">
                                                <span class="preview-title-lg overline-title">Товари</span>
                                                <form action="/admin/history/addDetail" id="createHistoryDetailsForm" method="post">
                                                    <input type="number" id="searchProductId" name="packId" hidden="" required="required">
                                                    <div class="row gy-4 align-center">
                                                        <div class="col-md-5">
                                                            <div>
                                                                <label class="form-label">Пошук</label>
                                                                <div class="form-control-wrap">
                                                                    <input type="search" class="form-control" id="searchProduct" autocomplete="off" onfocusout="hideResults()" oninput="setSearchDelay()" placeholder="Почніть введення...">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div id="searchResults">
                                                                    <table id="searchTable" class="nk-tb-list nk-tb-ulist table-stripped" data-auto-responsive="false">
                                                                        <thead>
                                                                        <tr class="nk-tb-item nk-tb-head">
                                                                            <th class="nk-tb-col tb-col-hide"></th>
                                                                            <th class="nk-tb-col tb-col-hide"></th>
                                                                            <th class="nk-tb-col tb-col-hide"></th>
                                                                            <th class="nk-tb-col tb-col-hide"></th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>

                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <div class="form-control-wrap">
                                                                    <div class="form-text-hint" style="top: 50%;">
                                                                        <span class="overline-title">ШТ</span>
                                                                    </div>
                                                                    <label class="form-label" for="addProductsAmount">Кількість</label>
                                                                    <input type="number" min="0" step="1" name="count" class="form-control" id="addProductsAmount" value="1" placeholder="Не заповнено..." oninput="this.value = this.value.replace(/[^0-9]+/g, '');calculateItemTotalSum();">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <div class="form-control-wrap">
                                                                    <div class="form-text-hint" style="top: 50%;">
                                                                        <span class="overline-title">UAH</span>
                                                                    </div>
                                                                    <label class="form-label" for="historyItemSum">Ціна/шт.</label>
                                                                    <input type="number" class="form-control" value="0.00" min="0" step="any" id="historyItemSum" name="sum" oninput="this.value = this.value.replace(/[^0-9]+\\.?[0-9]*/g, '');calculateItemTotalSum();">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <div class="form-control-wrap">
                                                                    <div class="form-text-hint" style="top: 50%;">
                                                                        <span class="overline-title">UAH</span>
                                                                    </div>
                                                                    <label class="form-label" for="historyItemTotalSum">Разом</label>
                                                                    <input type="number" class="form-control" value="0.00" min="0" step="any" id="historyItemTotalSum" readonly>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-1" style="padding-bottom: 0!important;">
                                                            <div class="form-group">
                                                                <button type="button" title="Добавити позицію" id="editHistoryDetailsBtn"class="btn btn-icon btn-lg btn-primary" style="margin-left: auto; margin-top: 1.5rem;">
                                                                    <em class="icon ni ni-grid-add-c"></em>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <!-- Table -->
                                                <table class="nk-tb-list nk-tb-ulist table-stripped" id="positionsTable" style="margin-top: 2rem;" data-auto-responsive="false">
                                                    <thead>
                                                        <tr class="nk-tb-item nk-tb-head">
                                                            <td class="nk-tb-col" style="width: 50%">Товар</td>
                                                            <td class="nk-tb-col tb-col-hide">ID</td>
                                                            <td class="nk-tb-col">Кількість</td>
                                                            <td class="nk-tb-col tb-col-lg">Ціна</td>
                                                            <td class="nk-tb-col tb-col-lg">Разом</td>
                                                            <th class="nk-tb-col"><span class="sub-text" style="text-align: right; padding-right: 2rem;">Дії</span></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="nk-tb-item nk-tb-head" th:each="det : ${history.getHistoryDetails()}" th:id="${history.getId()}">
                                                            <td class="nk-tb-col" style="width: 50%" th:text="${det?.getPackageType()?.getProduct().getName()}">Товар</td>
                                                            <td class="nk-tb-col tb-col-hide">ID</td>
                                                            <td class="nk-tb-col" th:text="${det.getCount()}">Кількість</td>
                                                            <td class="nk-tb-col tb-col-lg" th:text="${det.getPrice()}">Ціна</td>
                                                            <td class="nk-tb-col tb-col-lg" th:text="${det.getSum()}">Сума</td>
                                                            <th class="nk-tb-col">
                                                                <ul class="nk-tb-actions gx-1">
                                                                    <li>
                                                                        <div class="drodown">
                                                                          <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                                            <div class="dropdown-menu dropdown-menu-right\\">
                                                                              <ul class="link-list-opt no-bdr">
                                                                                  <li><a data-toggle="modal" onclick="showEditItemModal(this)"><em class="icon ni ni-edit-alt"></em><span>Редагувати</span></a></li>
                                                                                  <li><a data-toggle="modal" onclick="removePosition(this)" ><em class="icon ni ni-trash"></em><span>Видалити</span></a></li>
                                                                              </ul>
                                                                            </div>
                                                                        </div>
                                                                    </li>
    '                                                            </ul>
                                                            </th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!-- Table -->
                                                <div class="form-group" style="margin-top: 1rem;">
                                                    <button type="button" id="editHistoryBtn" class="btn btn-outline-primary">Зберегти</button>
                                                    <a href="/admin/history" type="button" class="btn btn-outline-danger">Скасувати</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .card-preview -->
                                </div><!-- .nk-block -->
                            </div><!-- .components-preview -->
                        </div>
                    </div>
                </div>
            </div>


            <!-- Edit item start -->
            <div class="modal fade" tabindex="-1" role="dialog" id="editProductModal" aria-modal="true">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                        <div class="modal-body modal-body-md">
                            <form action="/admin/history/editDetail" method="post">
                                <h4 class="title">Редагування</h4>
                                <br>
                                <input type="number" id="selectedForEditItem" hidden="">
<!--                                <input type="text" hidden="" th:value="${'/admin/orders/orderReview/'+order.getId()}" name="currentUrl">-->

                                <div class="row align-center" style="margin-bottom: 2rem;">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <div class="form-text-hint" style="top: 50%;">
                                                    <span class="overline-title">ШТ</span>
                                                </div>
                                                <label class="form-label" for="editProductsAmount">Кількість</label>
                                                <input type="number" min="0" step="1" class="form-control" id="editProductsAmount" placeholder="Не заповнено..." oninput="this.value = this.value.replace(/[^0-9]+/g, '');calculateItemTotalSumModal()">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <div class="form-text-hint" style="top: 50%;">
                                                    <span class="overline-title">UAH</span>
                                                </div>
                                                <label class="form-label" for="editProductsSum">Ціна/шт.</label>
                                                <input type="number" min="0" step="any" class="form-control" id="editProductsSum" placeholder="Не заповнено..." oninput="this.value = this.value.replace(/[^0-9]+\\.?[0-9]*/g, '');calculateItemTotalSumModal()">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <div class="form-text-hint" style="top: 50%;">
                                                    <span class="overline-title">UAH</span>
                                                </div>
                                                <label class="form-label" for="editItemTotalSum">Разом</label>
                                                <input type="number" class="form-control" value="0.00" min="0" step="any" id="editItemTotalSum" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="button" onclick="saveChanges()" class="btn btn-outline-primary">Підтвердити</button>
                                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Скасувати</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Edit item end -->

            <div class="alert alert-pro alert-danger" id="erorAlert" style="display: none; z-index: 9999; position: fixed; top: 12vh; margin: 0 1rem;">
                <div class="alert-text">
                    <h6>Помилка!</h6>
                    <p id="errorMessage"></p>
                </div>
            </div>

            <!-- content @e -->
            <!-- footer @s -->
            <div th:replace="~{admin/fragments/fragAdminFooter.html :: adminFooter}"></div>
            <!-- footer @e -->
        </div>
        <!-- wrap @e -->
    </div>
    <!-- main @e -->
</div>
<!-- app-root @e -->
<!-- JavaScript -->
<script th:src="@{/js/bundle.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>

<!--<script th:src="@{/js/example-sweetalert.js}"></script>-->
<script>
    $(document).ready(function() {
        $('#customerPhoneNumber').inputmask('+(999)-999-999-999');
        $('#searchProduct').focus();
        document.querySelector("#historyDate").valueAsDate = new Date();
        document.getElementById("year").innerHTML = new Date().getFullYear();

    });//ready() end

    let t = $('#positionsTable').DataTable({
        "autoWidth": false,
        "searching": false,
        "paging": false,
        "info": false,
        'select': false,
    });

    let search = $('#searchTable').DataTable({
        "autoWidth": false,
        "searching": false,
        "paging": false,
        "info": false,
        'select': false,
        "bSort" : false,
    });

    let btn = '<ul class="nk-tb-actions gx-1">\n' +
'                                                                    <li>\n' +
'                                                                        <div class="drodown">\n' +
'                                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>\n' +
'                                                                            <div class="dropdown-menu dropdown-menu-right\\">\n' +
'                                                                                <ul class="link-list-opt no-bdr">\n' +
'                                                                                    <li><a data-toggle="modal" onclick="showEditItemModal(this)"><em class="icon ni ni-edit-alt"></em><span>Редагувати</span></a></li>\n' +
'                                                                                    <li><a data-toggle="modal" onclick="removePosition(this)" ><em class="icon ni ni-trash"></em><span>Видалити</span></a></li>\n' +
'                                                                                </ul>\n' +
'                                                                            </div>\n' +
'                                                                        </div>\n' +
'                                                                    </li>\n' +
'                                                                </ul>';

    $('#searchTable tbody').on('click', 'tr', function () {
        var data = search.row( this ).data();
        $('#searchProduct').val(data[0]+" ("+data[1].trim()+")");
        $('#searchProductId').val(data[3]);
        console.log('name: '+  $('#searchProduct').val());
        console.log('prID: '+  $('#searchProductId').val());
        $('#addProductsAmount').val('');
        $('#addProductsAmount').focus();
    } );

    $('#addProductsAmount').on('keyup', function(event){
        if(event.keyCode === 13){
            $('#historyItemSum').val('');
            $('#historyItemSum').focus();
            event.preventDefault();
        }
        event.preventDefault();
    });

    $('#historyItemSum').on('keyup', function(event){
        if(event.keyCode === 13){
            let prodName = $('#searchProduct').val().trim();
            let prodId   = parseInt($('#searchProductId').val());
            let amount =   $('#addProductsAmount').val();
            let sum =      $('#historyItemSum').val();

            if (prodName===''){
                $('#errorMessage').text('Виберіть товар зі списку.');
                $('#erorAlert').show();
                $('#searchProduct').val('');
                $('#searchProductId').val('');
                $('#searchProduct').focus();
                setTimeout(function() { $('#erorAlert').hide(); }, 5000);
                return;
            }else if (isNaN(prodId)){
                console.log("prID: "+prodId);
                $('#errorMessage').text('Некоректно вибраний товар.');
                $('#erorAlert').show();
                $('#searchProduct').val('');
                $('#searchProductId').val('');
                $('#searchProduct').focus();
                setTimeout(function() { $('#erorAlert').hide(); }, 5000);
                return;
            }else if (amount === '' || parseInt(amount)<=0){
                $('#errorMessage').text('Вкажіть кількість товарів.');
                $('#erorAlert').show();
                $('#addProductsAmount').val('');
                $('#addProductsAmount').focus();
                setTimeout(function() { $('#erorAlert').hide(); }, 5000);
                return;
            }else if (sum === '' || parseFloat(sum)<=0.0){
                $('#errorMessage').text('Заповніть суму коректно.');
                $('#erorAlert').show();
                $('#historyItemSum').val('');
                $('#historyItemSum').focus();
                setTimeout(function() { $('#erorAlert').hide(); }, 5000);
                return;
            }else {
                $('#createHistoryDetailsForm').submit();
                event.preventDefault();
            }
        }
    });

    // function calculateTotalSum(){
    //     let sum = 0.0;
    //     t.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
    //         let data = this.data();
    //         sum += parseFloat(data[3]);
    //     });
    //     $('#historySum').val(sum.toFixed(2));
    // }

    function calculateItemTotalSum(){
        let sum = 0.0;
        let amount = parseInt($('#addProductsAmount').val());
        let price = parseFloat($('#historyItemSum').val());
        if (!isNaN(amount) && !isNaN(price)){
            sum = amount*price;
            console.log(sum);
            $('#historyItemTotalSum').val(sum.toFixed(2));
        }else {
            $('#historyItemTotalSum').val('0.00');
        }
    }

    function calculateItemTotalSumModal(){
        let sum = 0.0;
        let amount = parseInt($('#editProductsAmount').val());
        let price = parseFloat($('#editProductsSum').val());
        if (!isNaN(amount) && !isNaN(price)){
            sum = amount*price;
            console.log(sum);
            $('#editItemTotalSum').val(sum.toFixed(2));
        }else {
            $('#editItemTotalSum').val('0.00');
        }
    }



    $('#editHistoryBtn').on('click', function () {
        if ($('#historySupplier').val()===''){
            $('#errorMessage').text('Заповніть дані постачальника.');
            $('#erorAlert').show();
            $('#historySupplier').focus();
            setTimeout(function() { $('#erorAlert').hide(); }, 5000);
            return;
        }else if ($('#historyDate').val()===''){
            $('#historyDate').focus();
            $('#errorMessage').text('Заповніть дату приходу товару.');
            $('#erorAlert').show();
            setTimeout(function() { $('#erorAlert').hide(); }, 5000);
            return;
        }else {
            $('#createHistoryForm').submit();
        }
    })


    $('#editHistoryDetailsBtn').on('click', function () {
        let prodName = $('#searchProduct').val().trim();
        let prodId   = parseInt($('#searchProductId').val());
        let amount =   $('#addProductsAmount').val();
        let sum =      $('#historyItemSum').val();

        if (prodName===''){
            $('#errorMessage').text('Виберіть товар зі списку.');
            $('#erorAlert').show();
            $('#searchProduct').val('');
            $('#searchProductId').val('');
            $('#searchProduct').focus();
            setTimeout(function() { $('#erorAlert').hide(); }, 5000);
            return;
        }else if (isNaN(prodId)){
            console.log("prID: "+prodId);
            $('#errorMessage').text('Некоректно вибраний товар.');
            $('#erorAlert').show();
            $('#searchProduct').val('');
            $('#searchProductId').val('');
            $('#searchProduct').focus();
            setTimeout(function() { $('#erorAlert').hide(); }, 5000);
            return;
        }else if (amount === '' || parseInt(amount)<=0){
            $('#errorMessage').text('Вкажіть кількість товарів.');
            $('#erorAlert').show();
            $('#addProductsAmount').val('');
            $('#addProductsAmount').focus();
            setTimeout(function() { $('#erorAlert').hide(); }, 5000);
            return;
        }else if (sum === '' || parseFloat(sum)<=0.0){
            $('#errorMessage').text('Заповніть суму коректно.');
            $('#erorAlert').show();
            $('#historyItemSum').val('');
            $('#historyItemSum').focus();
            setTimeout(function() { $('#erorAlert').hide(); }, 5000);
            return;
        }else {
            $('#createHistoryDetailsForm').submit();
        }
    })


    // $("#createHistoryDetailsForm").submit(function( event ) {
    //     if ($('#historySupplier').val()===''){
    //         $('#errorMessage').text('Заповніть дані постачальника.');
    //         $('#erorAlert').show();
    //         $('#historySupplier').focus();
    //         setTimeout(function() { $('#erorAlert').hide(); }, 5000);
    //         event.preventDefault();
    //         return;
    //     }else if ($('#historyDate').val()===''){
    //         $('#historyDate').focus();
    //         $('#errorMessage').text('Заповніть дату приходу товару.');
    //         $('#erorAlert').show();
    //         setTimeout(function() { $('#erorAlert').hide(); }, 5000);
    //         event.preventDefault();
    //         return;
    //     }
    // });


    function searchProduct(){
        $('#searchResults').show();
        let searchString = $('#searchProduct').val().trim();
        if (searchString.length>=3) {
            console.log(searchString);
            $.ajax({
                method: "post",
                url: "/admin/orders/findPackType",
                contextType: "application/json",
                data: {
                    productName: searchString
                },
                success: function (result) {
                    console.log(result);
                    search.clear().draw();
                    for (let i =0;i<result.length;i++){
                        let rowNode = search.row.add([
                            result[i].productDto.name,
                            result[i].packSize+" "+result[i].packType,
                            result[i].price+" UAH",
                            result[i].id
                        ]).draw(false).node();
                        $(rowNode).addClass('nk-tb-item');

                        $( rowNode ).find('td').eq(0).addClass('nk-tb-col');
                        $( rowNode ).find('td').eq(1).addClass('nk-tb-col');
                        $( rowNode ).find('td').eq(2).addClass('nk-tb-col');
                        $( rowNode ).find('td').eq(3).addClass('nk-tb-col tb-col-hide');
                    }
                },
                error: function () {
                    console.log("Error!");
                }
            }); //ajax end
        }else {
            $('#searchResults').hide();
        }
    }


    function setSearchDelay() {
        this.clearTime()
        this.delaySearch = setTimeout(() => {
            this.searchProduct()
        }, 300)
    }

    function  clearTime () {
        if (this.delaySearch) {
            clearInterval(this.delaySearch)
        }
    }

    function hideResults() {
        setTimeout(function(){$('#searchResults').hide()}, 300);
    }


    function showEditItemModal(btnObj) {
        let trObj = btnObj.closest("tbody tr");
        let row = t.row(trObj).data();
        // $('#selectedForEditItem').val(t.row(trObj).index());
        $('#selectedForEditItem').val($(btnObj).attr('id'));
        console.log($(btnObj).attr('id'));
        let amount =  row[2];
        let sum = row[3];
        console.log(trObj.id);

        $('#editProductsAmount').val(amount);
        $('#editProductsSum').val(parseFloat(sum));
        $('#editItemTotalSum').val((parseInt(amount)*parseFloat(sum)).toFixed(2));

        $('#editProductModal').modal('show');
    }//show edit modal

    function saveChanges() {
        let index =  parseInt($('#selectedForEditItem').val());
        let amount = parseInt( $('#editProductsAmount').val());
        let sum = parseFloat( $('#editProductsSum').val());

        t.cell(index,2).data(amount);
        t.cell(index,3).data(sum.toFixed(2)+' UAH');
        t.draw();

        // calculateTotalSum();
        $('#editProductModal').modal('hide');
    }


    function removePosition(btnObj){
        let trObj = btnObj.closest("tbody tr");
        console.log(trObj.id);
        t.row(trObj).remove().draw();
        // calculateTotalSum();
    }
</script>
</body>

</html>