<!DOCTYPE html>
<html class="js" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- <base href="../"> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" th:href="@{/images/OP_ico.png}">
    <!-- Page Title  -->
    <title>Статистика</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" th:href="@{/css/dashlite.css}">
    <link id="skin-default" rel="stylesheet" th:href="@{/css/theme.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body class="nk-body bg-lighter npc-general has-sidebar ">
<div class="nk-app-root">
    <!-- main @s -->
    <div class="nk-main ">
        <!-- sidebar @s -->
        <div th:replace="~{admin/fragments/fragAdminHeader.html}"></div>
        <!-- sidebar @e -->

        <!-- wrap @s -->
        <div class="nk-wrap ">
            <!-- main header @s -->
            <div class="nk-header nk-header-fixed is-light">
                <div class="container-fluid">
                    <div class="nk-header-wrap">
                        <div class="nk-menu-trigger d-xl-none ml-n1">
                            <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
                        </div>
                        <div class="nk-header-brand d-xl-none">
                            <a href="/admin/products" class="logo-link">
                                <img class="logo-light logo-img" th:src="@{/images/logo-light.png}" th:srcset="@{/images/logo-light.png}" alt="logo">
                                <img class="logo-dark logo-img" th:src="@{/images/logo-dark.png}" th:srcset="@{/images/logo-dark.png}" alt="logo-dark">
                            </a>
                        </div><!-- .nk-header-brand -->

                        <div class="nk-header-tools">
                            <ul class="nk-quick-nav">
                                <li class="dropdown user-dropdown">
                                    <div class="user-toggle">
                                        <div class="user-avatar sm">
                                            <em class="icon ni ni-user-alt"></em>
                                        </div>
                                        <div class="user-info d-none d-md-block">
                                            <h6>Адміністратор</h6>
                                        </div>
                                    </div>
                                </li><!-- .dropdown -->
                                <li>
                                    <a href="/logout" class="nk-quick-nav-icon" data-toggle="tooltip" data-placement="bottom" title="Вийти">
                                        <em class="icon ni ni-signout"></em>
                                    </a>
                                </li>
                            </ul><!-- .nk-quick-nav -->
                        </div><!-- .nk-header-tools -->
                    </div><!-- .nk-header-wrap -->
                </div><!-- .container-fliud -->
            </div>
            <!-- main header @e -->
            <!-- content @s -->
            <div class="nk-content ">
                <div class="container-fluid">
                    <div class="nk-content-inner">
                        <div class="nk-content-body">
                            <div class="components-preview wide-md mx-auto">
                                <div class="nk-block-head nk-block-head-lg">
                                    <div class="nk-block-head-content">
                                        <div class="row">
                                            <div class="col-10">
                                                <h3 class="nk-block-title fw-normal">Статистика</h3>
                                            </div>
                                            <div class="col-2">
                                                <a th:href="@{'/admin/statistics/export?from='+${fromDate}+'&to='+${toDate}+${usersParam}}" type="button" title="Завантажити" class="btn btn-icon btn-lg btn-primary float-right" style="margin-left: auto; margin-right: 0.5rem;">
                                                    <em class="icon ni ni-file-download" style="font-size: 20pt;"></em>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .nk-block-head -->

                                <div class="nk-block nk-block-lg">
                                    <div class="card card-bordered card-preview">
                                        <form action="/admin/statistics" method="get">
                                        <div class="card-inner">
                                            <div class="row">

                                                <div class="col-md-6 form-group">
                                                    <label class="form-label">Початкова дата:</label>
                                                    <div class="form-control-wrap">
                                                        <input type="date" class="form-control" id="startDate" name="from" th:value="${fromDate}" onchange="createLink()">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <label class="form-label">Кінцева дата:</label>
                                                    <div class="form-control-wrap">
                                                        <input type="date" class="form-control" id="endDate" name="to" th:value="${toDate}" onchange="createLink()">
                                                    </div>
                                                </div>
                                                <div class="col-md-10 form-group">
                                                    <div class="form-group">
                                                        <label class="form-label">Користувачі</label>
                                                        <div class="form-control-wrap">
                                                            <select class="form-select" multiple name="users">
                                                                <option th:each="u:${users}" th:value="${u.getId()}" th:text="${u.getName()}" th:selected="${checkedUsers.contains(u)}">User name</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 form-group" style="display: flex; justify-content: center; align-items: center; padding-top: 0.5rem;">
                                                    <div class="form-control-wrap" style="width: 100%">
                                                        <button type="submit" class="btn btn-icon btn-lg btn-primary w-100" style="justify-content: center">Показати</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        </form>
                                    </div><!-- .card-preview -->
                                </div> <!-- nk-block -->

                                <div class="nk-block">
                                    <div class="card card-bordered card-preview">
                                        <div class="card-inner">
                                            <table class="datatable-init nk-tb-list nk-tb-ulist" data-auto-responsive="true">
                                                <thead>
                                                    <tr class="nk-tb-item nk-tb-head">
                                                        <th class="nk-tb-col" style="width: 20%;">Товар</th>
                                                        <th class="nk-tb-col">Пакування</th>
                                                        <th class="nk-tb-col">Поч. періоду</th>
                                                        <th class="nk-tb-col">Прихід</th>
                                                        <th class="nk-tb-col">Продано</th>
                                                        <th class="nk-tb-col">На складі</th>
                                                        <th class="nk-tb-col">Витрати</th>
                                                        <th class="nk-tb-col">Дохід</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="nk-tb-item" th:each="st : ${statistic}">
                                                        <td class="nk-tb-col" style="white-space:initial;" th:text="${st.getNameOfProduct()}"></td>
                                                        <td class="nk-tb-col" th:text="${st.getPackageType()}"></td>
                                                        <td class="nk-tb-col" th:text="${st.getBeforeCount()}"></td>
                                                        <td class="nk-tb-col" th:text="${st.getGetCount()}"></td>
                                                        <td class="nk-tb-col" th:text="${st.getSellCount()}"></td>
                                                        <td class="nk-tb-col" th:text="${st.getTotalCount()}"></td>
                                                        <td class="nk-tb-col" th:text="${st.getSpendMoney()}+' UAH'"></td>
                                                        <td class="nk-tb-col" th:text="${st.getEarnMoney()}+' UAH'"></td>
                                                    </tr><!-- .nk-tb-item  -->
                                                </tbody>
                                                <tfoot>
                                                    <tr class="nk-tb-item" style="background: #6576ff; color: white;">
                                                        <td colspan="6" class="nk-tb-col">Підсумок:</td>
                                                        <td colspan="1" class="nk-tb-col" th:text="${totalSpend}+' UAH'">0</td>
                                                        <td colspan="1" class="nk-tb-col" th:text="${totalEarn}+' UAH'">0</td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div><!-- .card-preview -->
                                </div> <!-- nk-block -->
                            </div><!-- .components-preview -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- content @e -->
            <!-- footer @s -->
            <div th:replace="~{admin/fragments/fragAdminFooter.html :: adminFooter}"></div>
            <!-- footer @e -->
        </div>
        <!-- wrap @e -->
    </div>
    <!-- main @e -->
</div>
<!-- app-root @e -->
<!-- JavaScript -->
<script th:src="@{/js/bundle.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
<script th:src="@{/js/example-sweetalert.js}"></script>

<script>
    $(document).ready(function() {
        document.getElementById("year").innerHTML = new Date().getFullYear();

        const d = new Date();
        const month = d.getMonth();
        d.setMonth(d.getMonth() - 1);
        while (d.getMonth() === month) {
            d.setDate(d.getDate() - 1);
        }
        document.querySelector("#startDate").valueAsDate = d;
        document.querySelector("#endDate").valueAsDate = new Date();

        createLink();
    });

    function createLink() {
        let start = $('#startDate').val();
        let end = $('#endDate').val();
        let link = '/admin/statistics?from='+start+'&to='+end;
        $('#searchBtn').attr('href', link);
    }
</script>
</body>

</html>