<!doctype html>
<html class="js" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Відбірні зоотовари та грумінг CharlieZoo - Кошик</title>
    <meta name="description" content="Відбірні зоотовари та грумінг CharlieZoo, Львів">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link rel="apple-touch-icon" th:href="@{/images/apple-touch-icon.png}">


    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Owl Carousel main css -->
<!--    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">-->
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" th:href="@{/css/core.css}">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" th:href="@{/css/shortcode/shortcodes.css}">
    <!-- Theme main style -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Responsive css -->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">

    <!-- Modernizr JS -->
    <script th:src="@{js/vendor/modernizr-2.8.3.min.js}"></script>
</head>

<body>
    <!-- Body main wrapper start -->
    <div class="wrapper fixed__footer">
        <!-- Start Header Style -->
        <div th:replace="~{user/fragments/fragUserHeader.html}"></div>
        <!-- End Header Style -->

        <div class="body__overlay"></div>
        <!-- Start Offset Wrapper -->
        <div class="offset__wrapper">
            <!-- Start Search Popap -->
            <div th:replace="~{user/fragments/fragUserSearch.html}"></div>
            <!-- End Search Popap -->
            <!-- Start Cart Panel -->
            <div th:replace="~{user/fragments/fragUserCart.html}"></div>
            <!-- End Cart Panel -->
        </div>
        <!-- End Offset Wrapper -->
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(images/bg/2.jpg) no-repeat scroll center center / cover ;">
            <div class="ht__bradcaump__wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bradcaump__inner text-center">
                                <h2 class="bradcaump-title">Кошик</h2>
                                <nav class="bradcaump-inner">
                                  <a class="breadcrumb-item" href="/">Головна</a>
                                  <span class="brd-separetor">/</span>
                                  <span class="breadcrumb-item active">Кошик</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- cart-main-area start -->
        <div class="cart-main-area ptb--120 bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
<!--                        <form action="#">               -->
                            <div class="table-content table-responsive">
                                <table id="cartTable">
                                    <thead>
                                        <tr>
                                            <th class="product-thumbnail" style="padding: 0 50px;">Фото</th>
                                            <th class="product-name">Назва</th>
                                            <th class="product-price">Ціна</th>
                                            <th class="product-quantity">Кількість</th>
                                            <th class="product-subtotal">Разом</th>
                                            <th class="product-remove">Видалити</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="dt : ${orderInfo?.getOrderDetails()}" >
                                            <td class="product-thumbnail">
                                                <a th:href="'/singleProduct/'+${dt.getPackageType().getProduct().getId()}">
                                                    <img th:src="'/shop/getImgByProductId/'+${dt.getPackageType().getProduct().getId()}" alt="product img" />
                                                </a>
                                            </td>
                                            <td class="product-name">
                                                <a th:href="'/singleProduct/'+${dt.getPackageType().getProduct().getId()}" th:text="${dt.getPackageType().getProduct().getName()}">Vestibulum suscipit</a>
                                            </td>
                                            <td class="product-price">
                                                <span class="amount" th:text="${dt.getPackageType().getPrice()}" th:if="${!dt.getPackageType().isOnSale()}">$105.00</span>
                                                <span class="amount" th:text="${dt.getPackageType().getNewPrice()}" th:if="${dt.getPackageType().isOnSale()}">$105.00</span>
                                            </td>
                                            <td class="product-quantity">
                                                <input type="number" min="1" step="1" th:id="${dt.getId()}" pattern="\d+" onchange="saveChanges(this.id)" oninput="this.value = this.value.replace(/['e'\\'+'\\'-'\\'.'\\',']/gi, '');calculateRowSum(this)" th:value="${dt.getCount()}" />
                                            </td>
                                            <td class="product-subtotal row-calculated-sum" th:text="${dt.getPackageType().getPrice()*dt.getCount()}" th:if="${!dt.getPackageType().isOnSale()}">£165.00</td>
                                            <td class="product-subtotal row-calculated-sum" th:text="${dt.getPackageType().getNewPrice()*dt.getCount()}" th:if="${dt.getPackageType().isOnSale()}">£165.00</td>
                                            <td class="product-remove"><a th:href="'/removeFromCart?id='+${dt.getId()}+'&uuid='+${orderInfo.getId().toString()}">X</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-sm-7 col-xs-12">
                                    <div class="buttons-cart">
<!--                                        <input type="submit" value="Update Cart" />-->
                                        <a href="/shop">Повернутися до магазину</a>
                                    </div>
<!--                                    <div class="coupon">-->
<!--                                        <h3>Coupon</h3>-->
<!--                                        <p>Enter your coupon code if you have one.</p>-->
<!--                                        <input type="text" placeholder="Coupon code" />-->
<!--                                        <input type="submit" value="Apply Coupon" />-->
<!--                                    </div>-->
                                </div>
                                <div class="col-md-4 col-sm-5 col-xs-12">
                                    <div class="cart_totals">
                                        <h2>Підсумок</h2>
                                        <table>
                                            <tbody>
<!--                                                <tr class="cart-subtotal">-->
<!--                                                    <th>Subtotal</th>-->
<!--                                                    <td><span class="amount">£215.00</span></td>-->
<!--                                                </tr>-->
<!--                                                <tr class="shipping">-->
<!--                                                    <th>Shipping</th>-->
<!--                                                    <td>-->
<!--                                                        <ul id="shipping_method">-->
<!--                                                            <li>-->
<!--                                                                <input type="radio" /> -->
<!--                                                                <label>-->
<!--                                                                    Flat Rate: <span class="amount">£7.00</span>-->
<!--                                                                </label>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <input type="radio" /> -->
<!--                                                                <label>-->
<!--                                                                    Free Shipping-->
<!--                                                                </label>-->
<!--                                                            </li>-->
<!--                                                            <li></li>-->
<!--                                                        </ul>-->
<!--                                                        <p><a class="shipping-calculator-button" href="#">Calculate Shipping</a></p>-->
<!--                                                    </td>-->
<!--                                                </tr>-->
                                                <tr class="order-total">
                                                    <th>до оплати:</th>
                                                    <td>
                                                        <strong><span id="totalOrderSum" class="amount">0.00 UAH</span></strong>
                                                    </td>
                                                </tr>                                           
                                            </tbody>
                                        </table>
                                        <div class="wc-proceed-to-checkout">
                                            <a href="/checkout">Оформити замовлення</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
<!--                        </form> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- cart-main-area end -->
        <!-- Start Footer Area -->
        <div th:replace="~{user/fragments/fragUserFooter.html}"></div>
        <!-- End Footer Area -->
    </div>
    <!-- Body main wrapper end -->
    <!-- Placed js at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
    <script th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
    <!-- Bootstrap framework js -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
    <!-- All js plugins included in this file. -->
    <script th:src="@{/js/plugins.js}"></script>
<!--    <script th:src="@{/js/slick.min.js}"></script>-->
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <!-- Waypoints.min.js. -->
<!--    <script th:src="@{/js/waypoints.min.js}"></script>-->
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/liveSearch.js}"></script>
    <script th:src="@{/js/cart.js}"></script>

    <script>
        $( document ).ready(function() {
            document.getElementById("year").innerHTML = new Date().getFullYear();

            $("li.animal-img").hide();
            $("li.animal-img").first().show();

            $('.animal').mouseover(function() {
                let selected = this.id;
                $("li.animal-img").hide();
                $('#animal-image-'+selected).show();
            });

            //calculate main cart total sum start
            calculateTotalCartSum();
            //calculate main cart total sum end

            //calculate sidebar cart total sum start
            calculateCartTotal();
            //calculate sidebar cart total sum end
        });

        function calculateRowSum(inputElement) {
            let quantity = parseInt($(inputElement).val());
            let itemPrice  = parseFloat($(inputElement).parent().parent().find('.product-price .amount').text());
            console.log("mq: "+ quantity+"; mp: "+itemPrice);
            let totalRowSum = quantity*itemPrice;
            if (!isNaN(quantity)) {
                $(inputElement).parent().parent().find('.product-subtotal').text(parseFloat(totalRowSum).toFixed(2));
            }else {
                $(inputElement).parent().parent().find('.product-subtotal').text('0.00');
            }
            calculateTotalCartSum();
        }

        function saveChanges(itemId) {
            let count = parseInt($('#'+itemId).val());
            if ($('#'+itemId).val()!=='') {
                $.ajax({
                    method: "post",
                    url: "/changeCount",
                    contextType: "application/json",
                    data: {
                        idOfPackageType: itemId,
                        count: count,
                    },
                    traditional: true,
                    success: function () {
                        console.log('Updated!');
                    },
                    error: function () {
                        alert("Помилка!");
                    }
                });
            }else {
                $('#'+itemId).val(1).change();
                calculateRowSum($('#'+itemId));
            }

        }

        function calculateTotalCartSum() {
            let allRowItemsTotalPrices = document.getElementsByClassName('row-calculated-sum');
            console.log("len: "+allRowItemsTotalPrices.length);
            let totalOrderSum = 0.0;
            Array.prototype.forEach.call(allRowItemsTotalPrices, function(el) {
                let price = parseFloat($(el).text());
                totalOrderSum+=price;
                console.log("total price: "+ totalOrderSum);
                $('#totalOrderSum').text(parseFloat(totalOrderSum).toFixed(2)+' UAH');
            });
        }
    </script>

</body>

</html>