<!doctype html>
<html class="js" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Відбірні зоотовари та грумінг CharlieZoo - Оформлення замовлення</title>
    <meta name="description" content="Відбірні зоотовари та грумінг CharlieZoo, Львів">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">


    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Owl Carousel main css -->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" th:href="@{/css/core.css}">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" th:href="@{/css/shortcode/shortcodes.css}">
    <!-- Theme main style -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Responsive css -->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- User style -->
    <link rel="stylesheet" th:href="@{/css/custom.css}">

    <!-- Modernizr JS -->
    <script th:src="@{js/vendor/modernizr-2.8.3.min.js}"></script>

</head>

<body>
    <!-- Body main wrapper start -->
    <div class="wrapper fixed__footer">
        <!-- Start Header Style -->
        <div th:replace="~{user/fragments/fragUserHeader.html}"></div>
        <!-- End Header Style -->
        
        <div class="body__overlay"></div>
        <!-- Start Offset Wrapper -->
        <div class="offset__wrapper">
            <!-- Start Search Popap -->
            <div th:replace="~{user/fragments/fragUserSearch.html}"></div>
            <!-- End Search Popap -->
            <!-- Start Offset MEnu -->
            <div class="offsetmenu">
                <div class="offsetmenu__inner">
                    <div class="offsetmenu__close__btn">
                        <a href="#"><i class="zmdi zmdi-close"></i></a>
                    </div>
                    <div class="off__contact">
                        <div class="logo">
                            <a href="index.html">
                                <img src="images/logo/logo.png" alt="logo">
                            </a>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetu adipisicing elit sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                    <ul class="sidebar__thumd">
                        <li><a href="#"><img src="images/sidebar-img/1.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="images/sidebar-img/2.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="images/sidebar-img/3.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="images/sidebar-img/4.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="images/sidebar-img/5.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="images/sidebar-img/6.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="images/sidebar-img/7.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="images/sidebar-img/8.jpg" alt="sidebar images"></a></li>
                    </ul>
                    <div class="offset__widget">
                        <div class="offset__single">
                            <h4 class="offset__title">Language</h4>
                            <ul>
                                <li><a href="#"> Engish </a></li>
                                <li><a href="#"> French </a></li>
                                <li><a href="#"> German </a></li>
                            </ul>
                        </div>
                        <div class="offset__single">
                            <h4 class="offset__title">Currencies</h4>
                            <ul>
                                <li><a href="#"> USD : Dollar </a></li>
                                <li><a href="#"> EUR : Euro </a></li>
                                <li><a href="#"> POU : Pound </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="offset__sosial__share">
                        <h4 class="offset__title">Follow Us On Social</h4>
                        <ul class="off__soaial__link">
                            <li><a class="bg--twitter" href="#"  title="Twitter"><i class="zmdi zmdi-twitter"></i></a></li>
                            
                            <li><a class="bg--instagram" href="#" title="Instagram"><i class="zmdi zmdi-instagram"></i></a></li>

                            <li><a class="bg--facebook" href="#" title="Facebook"><i class="zmdi zmdi-facebook"></i></a></li>

                            <li><a class="bg--googleplus" href="#" title="Google Plus"><i class="zmdi zmdi-google-plus"></i></a></li>

                            <li><a class="bg--google" href="#" title="Google"><i class="zmdi zmdi-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Offset MEnu -->
            <!-- Start Cart Panel -->
            <div th:replace="~{user/fragments/fragUserCart.html}"></div>
            <!-- End Cart Panel -->
        </div>
        <!-- End Offset Wrapper -->
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(images/bg/2.jpg) no-repeat scroll center center / cover ;">
            <div class="ht__bradcaump__wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bradcaump__inner text-center">
                                <h2 class="bradcaump-title">Оформлення замовлення</h2>
                                <nav class="bradcaump-inner">
                                  <a class="breadcrumb-item" href="/">Головна</a>
                                  <span class="brd-separetor">/</span>
                                  <span class="breadcrumb-item active">Замовлення</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- Start Checkout Area -->
        <section class="our-checkout-area ptb--120 bg__white">
            <form id="orderForm" method="post">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-8">
                        <div class="ckeckout-left-sidebar">
                            <!-- Start Checkbox Area -->
                            <div class="checkout-form">
                                <h2 class="section-title-3">Замовник</h2>
                                <div class="checkout-form-inner">
                                    <div class="single-checkout-box">
                                        <input type="text" id="nameSurname" placeholder="Введіть прізвище, ім'я*" name="nameOfClient">
                                        <input type="tel" autocomplete="on" id="phoneNumber"  placeholder="Введіть номер телефону*" value="+380" class="phone_number" name="phone">

                                        <input type="text" hidden="hidden" id="idOfOrder" th:value="${orderInfo.getId()}" name="id">
                                        <input type="text" hidden="hidden" id="paymentData" th:value="${paymentData}" name="data">
                                        <input type="text" hidden="hidden" id="paymentSignature" th:value="${paymentSignature}" name="signature">
                                    </div>
                                </div>
                            </div>

                            <div class="checkout-form">
                                <h2 class="section-title-3">Доставка</h2>
                                <div class="checkout-form-inner">
                                    <div class="single-checkout-box checkbox">
                                        <input id="cityDelivery" checked type="checkbox" name="lvivDelivering" onclick="setActiveDeliveryTypeMethod(this.id)">
                                        <label for="cityDelivery"><span></span>Доставка по Львову</label>
                                    </div>

                                    <div class="single-checkout-box checkbox">
                                        <input id="countryDelivery" type="checkbox" name="novaPoshtaDelivering" onclick="setActiveDeliveryTypeMethod(this.id)">
                                        <label for="countryDelivery"><span></span>Доставка до відділення Нової Пошти</label>
                                    </div>

                                    <div class="single-checkout-box mt--40">
                                        <textarea name="description" id="deliveryAddress" rows="3" placeholder="Адреса для доставки*"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="checkout-form mt--40">
                                <h2 class="section-title-3">Оплата</h2>
                                <div class="checkout-form-inner">
                                    <div class="single-checkout-box checkbox">
                                        <input id="cardPayment" checked type="checkbox" name="payByCard" onclick="setActivePaymentMethod(this.id)">
                                        <label for="cardPayment"><span></span>Оплата картою</label>
                                    </div>
                                    <div class="single-checkout-box checkbox">
                                        <input id="cashPayment" type="checkbox" name="payByCash" onclick="setActivePaymentMethod(this.id)">
                                        <label for="cashPayment"><span></span>Оплата готівкою</label>
                                    </div>
                                </div>
                            </div>
                            <ul class="checkout-buttons mt--40">
                                <li id="payNowBtn"><button type="button" onclick="showPaymentForm()">Оплатити зараз</button></li>
                                <li id="placeAnOrderBtn" class="shp__checkout" style="display: none;" ><button type="button" onclick="sendDataSubmit()">Замовити</button></li>
                            </ul>
                            <!-- End Checkbox Area -->
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4" style="padding: 2px">
                        <div class="checkout-right-sidebar">
                            <div class="our-important-note" id="notesAboutBuying" style="padding: 0 10px;">
                                <h2 class="section-title-3">Note :</h2>
                                <p class="note-desc">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do eiusmod tempor incididunt ut laborekf et dolore magna aliqua.</p>
                                <ul class="important-note">
                                    <li><a href="#"><i class="zmdi zmdi-caret-right-circle"></i>Lorem ipsum dolor sit amet, consectetur nipabali</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-caret-right-circle"></i>Lorem ipsum dolor sit amet</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-caret-right-circle"></i>Lorem ipsum dolor sit amet, consectetur nipabali</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-caret-right-circle"></i>Lorem ipsum dolor sit amet, consectetur nipabali</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-caret-right-circle"></i>Lorem ipsum dolor sit amet</a></li>
                                </ul>
                            </div>
                            <div id="liqpay_checkout" style="display: none"></div>
                            <div class="puick-contact-area mt--60">
                                <h2 class="section-title-3">Quick Contract</h2>
                                <a href="phone:+8801722889963">+012 345 678 102 </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
         </section>
        <!-- End Checkout Area -->

        <!-- Start Footer Area -->
        <div th:replace="~{user/fragments/fragUserFooter.html}"></div>
        <!-- End Footer Area -->

        <!-- #thanksModal start -->
        <div class="modal fade" tabindex="-1" role="dialog" id="thanksModal" aria-modal="true">
            <div class="modal-dialog modal-dialog-centered" role="document" style="-webkit-transform: translate(0,-50%);-o-transform: translate(0,-50%);transform: translate(0,-50%);top: 50%;">
                <div class="modal-content">
                    <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                    <div class="modal-body modal-body-md" style="text-align: center">
                        <img src="/images/icon.jpg" alt="" style="width: 70%;">
                        <div class="portfolio-title portfolio-card-title text-center">
                            <h3>ДЯКУЄМО ЗА ПОКУПКУ!</h3>
                            <p style="padding-bottom: 25px; font-size: 16px;">Наш менеджер скоро звяжеться з вами для підтвердження замовлення</p>
                            <a href="/shop" class="thanks-btn">Повернутись до магазину</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #thanksModal end -->

    </div>
    <!-- Body main wrapper end -->
    <!-- Placed js at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
    <script th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
    <!-- Bootstrap framework js -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- All js plugins included in this file. -->
    <script th:src="@{/js/plugins.js}"></script>
    <script th:src="@{/js/slick.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <!-- Waypoints.min.js. -->
    <script th:src="@{/js/waypoints.min.js}"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/liveSearch.js}"></script>
    <script th:src="@{/js/cart.js}"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>

    <script>
        $( document ).ready(function() {
            document.getElementById("year").innerHTML = new Date().getFullYear();

            paymentData = $('#paymentData').val();
            paymentSignature = $('#paymentSignature').val();


            $("li.animal-img").hide();
            $("li.animal-img").first().show();

            $('.animal').mouseover(function() {
                let selected = this.id;
                $("li.animal-img").hide();
                $('#animal-image-'+selected).show();
            });

            //calculate cart total sum start
            calculateCartTotal();
            //calculate cart total sum end

            $('.phone_number').inputmask('+(999)-999-999-999');
        });

        function setActiveDeliveryTypeMethod(deliveryInputId){
            if(deliveryInputId == 'cityDelivery'){
                $('#cityDelivery').prop('checked', true);
                $('#countryDelivery').prop('checked', false);
                activeDelivery = $('#cityDelivery').val();
                console.log(activeDelivery);
            }else if(deliveryInputId == 'countryDelivery'){
                $('#cityDelivery').prop('checked', false);
                $('#countryDelivery').prop('checked', true);
            }
        }
        function setActivePaymentMethod(paymentInputId){
            if(paymentInputId == 'cashPayment'){
                $('#cashPayment').prop('checked', true);
                $('#cardPayment').prop('checked', false);
                $('#payNowBtn').hide();
                $('#placeAnOrderBtn').show();
                $('#notesAboutBuying').show();
                $('#liqpay_checkout').hide();

            }else if(paymentInputId == 'cardPayment'){
                $('#cashPayment').prop('checked', false);
                $('#cardPayment').prop('checked', true);
                $('#payNowBtn').show();
                $('#placeAnOrderBtn').hide();
            }
        }
        function showPaymentForm() {
            let buyerData = $('#nameSurname').val();
            let phoneNumber = $('#phoneNumber').val();
            let phDigits = $('#phoneNumber').val().replace(/[^0-9]/gi, '');
            console.log("pnl:"+phDigits+"/"+phDigits.length);
            let address = $('#deliveryAddress').val();

            if (buyerData!=='' && phoneNumber!=='' && phDigits.length === 12 && address!==''){
                $.ajax({
                    url: '/checkout/orderSubmit',
                    type: 'post',
                    data: $('#orderForm').serialize(),
                    success: function(){
                        $('#notesAboutBuying').hide();
                        $('#liqpay_checkout').show();
                        $('#payNowBtn').hide();
                        $([document.documentElement, document.body]).animate({
                            scrollTop: $("#liqpay_checkout").offset().top-100
                        }, 500);
                    },
                    error: function () {
                        alert("Помилка! Спробуйте ще раз");
                    }
                });
            }else {
                $('#notesAboutBuying').show();
                $('#liqpay_checkout').hide();
                $('#payNowBtn').show();
                $([document.documentElement, document.body]).animate({
                    scrollTop: $("#nameSurname").offset().top-150
                }, 500);
            }
        }
        function sendDataSubmit() {
            let buyerData = $('#nameSurname').val();
            let phoneNumber = $('#phoneNumber').val();
            let phDigits = $('#phoneNumber').val().replace(/[^0-9]/gi, '');
            console.log("pnl:"+phDigits+"/"+phDigits.length);
            let address = $('#deliveryAddress').val();

            if (buyerData!=='' && phoneNumber!=='' && phDigits.length === 12 && address!=='') {
                $.ajax({
                    url: '/checkout/orderSubmit',
                    type: 'post',
                    data: $('#orderForm').serialize(),
                    success: function () {
                        $('#thanksModal').modal('show');
                        // location.replace("/checkout/successful")
                    }
                });
            }else {
                $([document.documentElement, document.body]).animate({
                    scrollTop: $("#nameSurname").offset().top-150
                }, 500);
            }
        }
    </script>

    <script>
        window.LiqPayCheckoutCallback = function() {
            console.log(paymentData);
            console.log(paymentSignature);
            LiqPayCheckout.init({
                data: paymentData,
                signature: paymentSignature,
                embedTo: "#liqpay_checkout",
                language: "uk",
                mode: "embed" // embed || popup
            }).on("liqpay.callback", function(data){
                console.log(data.status);
                console.log(data);
                if(data==="success"){
                    // window.location.href = "/";
                    $('#thanksModal').modal('show');
                }
            }).on("liqpay.ready", function(data){
                $.ajax({
                    method: "get",
                    url: "/cart",
                    contextType: "application/json",
                    data: {
                        idOfPackageType: itemId,
                        count: count,
                    },
                    traditional: true,
                    success: function () {
                        console.log('Updated!');
                    },
                    error: function () {
                        alert("Помилка!!");
                    }
                });
            }).on("liqpay.close", function(data){
                $.ajax({
                    method: "get",
                    url: "/cart",
                    contextType: "application/json",
                    data: {
                        idOfPackageType: itemId,
                        count: count,
                    },
                    traditional: true,
                    success: function () {
                        console.log('Updated!');
                    },
                    error: function () {
                        alert("Помилка!!");
                    }
                });
            });
        };

        function request() {
           location.replace("/");
        }
        $("#thanksModal").on('hide.bs.modal', function(){
            location.href = '/shop';
        });
    </script>
    <script src="//static.liqpay.ua/libjs/checkout.js" async></script>

</body>

</html>