<!doctype html>
<html class="js" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Відбірні зоотовари та грумінг CharlieZoo - Доставка і повернення</title>
    <meta name="description" content="Відбірні зоотовари та грумінг CharlieZoo, Львів">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#FFD413">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#FFD413">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#FFD413">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link rel="apple-touch-icon" th:href="@{/images/apple-touch-icon.png}">


    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Latest compiled and minified CSS -->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <!-- Owl Carousel main css -->
<!--    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">-->
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" th:href="@{/css/core.css}">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" th:href="@{/css/shortcode/shortcodes.css}">
    <!-- Theme main style -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Responsive css -->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">

    <!-- Modernizr JS -->
    <script th:src="@{js/vendor/modernizr-2.8.3.min.js}"></script>
</head>

<body>
    <!-- Body main wrapper start -->
    <div class="wrapper fixed__footer">
        <!-- Start Header Style -->
        <div th:replace="~{user/fragments/fragUserHeader.html}"></div>
        <!-- End Header Style -->

        <div class="body__overlay"></div>
        <!-- Start Offset Wrapper -->
        <div class="offset__wrapper">
            <!-- Start Search Popap -->
            <div th:replace="~{user/fragments/fragUserSearch.html}"></div>
            <!-- End Search Popap -->
            <!-- Start Cart Panel -->
            <div th:replace="~{user/fragments/fragUserCart.html}"></div>
            <!-- End Cart Panel -->
        </div>
        <!-- End Offset Wrapper -->
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(images/bg/2.jpg) no-repeat scroll center center / cover ;">
            <div class="ht__bradcaump__wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bradcaump__inner text-center">
                                <h2 class="bradcaump-title">Доставка і Повернення</h2>
                                <nav class="bradcaump-inner">
                                    <a class="breadcrumb-item" href="/">Головна</a>
                                    <span class="brd-separetor">/</span>
                                    <span class="breadcrumb-item active">Доставка і повернення</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- Start Our Store Area -->
        <section class="htc__store__area ptb--120 bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section__title section__title--2">
                            <h2>Доставка по Львову та найближчим населеним пунктам (до 10км)</h2>
                            <!-- Start Blog Pra -->
                            <div class="blog-details-pra">
                                <p style="width: 100%">Ми здійснюємо доставку по Львову і найближчим населеним пунктам за допомогою власної кур'єрської служби.</p>
                                <p style="width: 100%">Ми розуміємо, що вашим улюбленцям важливо отримувати ласощі, корм і корисні товари інколи ще навіть на вчора, тому наша доставка працює щоденно і без вихідних.</p>

                                <blockquote>
                                    Вартість доставки:
                                    <ul style="    list-style-type: none; padding: 0 1rem;">
                                        <li><img src="images/icons/bone.png" width="20px"> Доставка по Львову - 49 грн, безкоштовно при замовленні  від 399 грн.</li>
                                        <li><img src="images/icons/bone.png" width="20px"> Доставка у передмістя - 79 грн, безкоштовно при замовленні від 999 грн.</li>
                                    </ul>
                                </blockquote>

                                <blockquote>
                                    Оплата замовлення:
                                    <ul style="list-style-type: none; padding: 0 1rem;">
                                        <li><img src="images/icons/bone.png" width="20px"> Готівкою кур'єру</li>
                                        <li><img src="images/icons/bone.png" width="20px"> Карткою Visa або Mastercard на сайті</li>
                                        <li><img src="images/icons/bone.png" width="20px"> Через платіжну систему Приват24</li>
                                        <li><img src="images/icons/bone.png" width="20px"> За допомогою платіжних систем Apple Pay або Google Pay</li>
                                    </ul>
                                </blockquote>
                            </div>
                            <!-- End Blog Pra -->

                            <h2>Доставка по Україні</h2>
                            <!-- Start Blog Pra -->
                            <div class="blog-details-pra">
                                <p style="width: 100%">Доставка по Україні здійснюється за допомогою сервісу доставки "Нова пошта". Доставка можлива як до відділення, так і за точною адресою.</p>
                                <p style="width: 100%">Термін доставки по Україні, залежно від віддаленості населеного пункту, зазвичай, становить 1-2 дні з моменту відправки.</p>

                                <blockquote>
                                    Вартість доставки:
                                    <ul style="list-style-type: none; padding: 0 1rem;">
                                        <li><img src="images/icons/bone.png" width="20px"> Доставка до відділення – безкоштовно, далі за тарифом перевізника</li>
                                    </ul>
                                </blockquote>

                                <blockquote>
                                    Оплата замовлення:
                                    <ul style="list-style-type: none; padding: 0 1rem;">
                                        <li><img src="images/icons/bone.png" width="20px"> Карткою Visa або Mastercard на сайті</li>
                                        <li><img src="images/icons/bone.png" width="20px"> Через платіжну систему Приват24</li>
                                        <li><img src="images/icons/bone.png" width="20px"> Післяплатою</li>
                                        <li><img src="images/icons/bone.png" width="20px"> За допомогою платіжних систем Apple Pay або Google Pay</li>
                                    </ul>
                                </blockquote>
                            </div>
                            <!-- End Blog Pra -->

                            <h2>Повернення</h2>
                            <!-- Start Blog Pra -->
                            <div class="blog-details-pra">
                                <p style="width: 100%">Звичайно, наша команда розуміє, що виникають обставини, що зумовлюють повернення товару та оплати та/або обмін.</p>
                                <p style="width: 100%">Повернення та обмін здійснюється нашим магазином після консультації з менеджером.</p>

                                <blockquote>
                                    Повернути товар належної якості можна протягом 14 днів з моменту покупки — якщо дотримані наступні умови повернення товару:
                                    <ul style="list-style-type: none; padding: 0 1rem;">
                                        <li><img src="images/icons/bone.png" width="20px"> Товар не використовувався.</li>
                                        <li><img src="images/icons/bone.png" width="20px"> Збережено його товарний вигляд, споживчі властивості, пломби, ярлики.</li>
                                        <li><img src="images/icons/bone.png" width="20px"> Збережено розрахунковий документ з датою продажу.</li>
                                    </ul>
                                </blockquote>

                                <p style="width: 100%">До повернення та обміну не приймається товар належної якості, який був придбаний за спеціальними цінами, при проведенні акцій та/або розпродажів.</p>
                                <p style="width: 100%">Повернення коштів із банківської картки на картку Покупця здійснюється у робочий день менеджера та у день вимоги Покупця.</p>
                            </div>
                            <!-- End Blog Pra -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Our Store Area -->

        <!-- Start Footer Area -->
        <div th:replace="~{user/fragments/fragUserFooter.html}"></div>
        <!-- End Footer Area -->
    </div>
    <!-- Body main wrapper end -->
    <!-- Placed js at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
    <script th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
    <!-- Bootstrap framework js -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
    <!-- All js plugins included in this file. -->
    <script th:src="@{/js/plugins.js}"></script>
<!--    <script th:src="@{/js/slick.min.js}"></script>-->
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <!-- Waypoints.min.js. -->
<!--    <script th:src="@{/js/waypoints.min.js}"></script>-->
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/liveSearch.js}"></script>
    <script th:src="@{/js/cart.js}"></script>

    <script>
        $( document ).ready(function() {
            document.getElementById("year").innerHTML = new Date().getFullYear();

            $("li.animal-img").hide();
            $("li.animal-img").first().show();

            $('.animal').mouseover(function() {
                let selected = this.id;
                $("li.animal-img").hide();
                $('#animal-image-'+selected).show();
            });

            //calculate main cart total sum start
            calculateTotalCartSum();
            //calculate main cart total sum end

            //calculate sidebar cart total sum start
            calculateCartTotal();
            //calculate sidebar cart total sum end
        });


        function calculateRowSum(inputElement) {
            let quantity = parseInt($(inputElement).val());
            let itemPrice  = parseFloat($(inputElement).parent().parent().find('.product-price .amount').text());
            console.log("mq: "+ quantity+"; mp: "+itemPrice);
            let totalRowSum = quantity*itemPrice;
            if (!isNaN(quantity)) {
                $(inputElement).parent().parent().find('.product-subtotal').text(parseFloat(totalRowSum).toFixed(2));
            }else {
                $(inputElement).parent().parent().find('.product-subtotal').text('0.00');
            }
            calculateTotalCartSum();
        }


        function calculateTotalCartSum() {
            let allRowItemsTotalPrices = document.getElementsByClassName('row-calculated-sum');
            console.log("len: "+allRowItemsTotalPrices.length);
            let totalOrderSum = 0.0;
            Array.prototype.forEach.call(allRowItemsTotalPrices, function(el) {
                let price = parseFloat($(el).text());
                totalOrderSum+=price;
                console.log("total price: "+ totalOrderSum);
                $('#totalOrderSum').text(parseFloat(totalOrderSum).toFixed(2)+' UAH');
            });
        }
    </script>

</body>

</html>