<!DOCTYPE html>
<html class="js" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Відбірні зоотовари та грумінг CharlieZoo - Головна</title>
    <meta name="description" content="Відбірні зоотовари та грумінг CharlieZoo, Львів">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">


    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
<!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Owl Carousel main css -->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" th:href="@{/css/core.css}">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" th:href="@{/css/shortcode/shortcodes.css}">
    <!-- Theme main style -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Responsive css -->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- Modernizr JS -->
    <script th:src="@{js/vendor/modernizr-2.8.3.min.js}"></script>

</head>

<body>
    <!-- Body main wrapper start -->
    <div class="wrapper fixed__footer">
        <!-- Start Header Style -->
        <div th:replace="~{user/fragments/fragUserHeader.html}"></div>
        <!-- End Header Style -->
        
        <div class="body__overlay"></div>
        <!-- Start Offset Wrapper -->
        <div class="offset__wrapper">
            <!-- Start Search Popap -->
            <div th:replace="~{user/fragments/fragUserSearch.html}"></div>
            <!-- End Search Popap -->
            <!-- Start Offset MEnu -->
            <div class="offsetmenu">
                <div class="offsetmenu__inner">
                    <div class="offsetmenu__close__btn">
                        <a href="#"><i class="zmdi zmdi-close"></i></a>
                    </div>
                    <div class="off__contact">
                        <div class="logo">
                            <a href="index.html">
                                <img src="images/logo/logo.png" alt="logo">
                            </a>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetu adipisicing elit sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                    <ul class="sidebar__thumd">
                        <li><a href="#"><img src="images/sidebar-img/1.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="images/sidebar-img/2.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="images/sidebar-img/3.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="images/sidebar-img/4.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="images/sidebar-img/5.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="images/sidebar-img/6.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="images/sidebar-img/7.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="images/sidebar-img/8.jpg" alt="sidebar images"></a></li>
                    </ul>
                    <div class="offset__widget">
                        <div class="offset__single">
                            <h4 class="offset__title">Language</h4>
                            <ul>
                                <li><a href="#"> Engish </a></li>
                                <li><a href="#"> French </a></li>
                                <li><a href="#"> German </a></li>
                            </ul>
                        </div>
                        <div class="offset__single">
                            <h4 class="offset__title">Currencies</h4>
                            <ul>
                                <li><a href="#"> USD : Dollar </a></li>
                                <li><a href="#"> EUR : Euro </a></li>
                                <li><a href="#"> POU : Pound </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="offset__sosial__share">
                        <h4 class="offset__title">Follow Us On Social</h4>
                        <ul class="off__soaial__link">
                            <li><a class="bg--twitter" href="#"  title="Twitter"><i class="zmdi zmdi-twitter"></i></a></li>
                            
                            <li><a class="bg--instagram" href="#" title="Instagram"><i class="zmdi zmdi-instagram"></i></a></li>

                            <li><a class="bg--facebook" href="#" title="Facebook"><i class="zmdi zmdi-facebook"></i></a></li>

                            <li><a class="bg--googleplus" href="#" title="Google Plus"><i class="zmdi zmdi-google-plus"></i></a></li>

                            <li><a class="bg--google" href="#" title="Google"><i class="zmdi zmdi-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Offset MEnu -->
            <!-- Start Cart Panel -->
            <div th:replace="~{user/fragments/fragUserCart.html}"></div>
            <!-- End Cart Panel -->
        </div>
        <!-- End Offset Wrapper -->
        <!-- Start Feature Product -->
        <section class="htc__feature__product pb--100 bg__white">
            <div class="container">
                <div class="row">
                    <!-- Start Left Feature -->
                    <div class="col-md-5 col-lg-5 col-sm-6 col-xs-12">
                        <div class="feature foo">
                            <div class="feature__thumb">
                                <a th:href="${ban1?.getUrl()}">
                                    <img th:src="@{'/shop/getImg/'+${ban1?.getImage()?.getId()}}" alt="feature product">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Left Feature -->
                    <div class="col-md-7 col-lg-7 col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 xmt-30">
                                <div class="feature foo">
                                    <div class="feature__thumb">
                                        <a th:href="${ban2?.getUrl()}">
                                            <img th:src="@{'/shop/getImg/'+${ban2?.getImage()?.getId()}}" alt="feature product">
                                        </a>
                                    </div>
                                </div>                                
                            </div>
                            <div class="col-md-5 mt--30 hidden-sm col-xs-12 xmt-30 ">
                                <div class="feature text__pos--top foo">
                                    <div class="feature__thumb">
                                        <a th:href="${ban3?.getUrl()}">
                                            <img id="hiddingBanner" th:src="@{'/shop/getImg/'+${ban3?.getImage()?.getId()}}" alt="feature product">
                                        </a>
                                    </div>
                                </div>                                
                            </div>
                            <div class="col-md-7 mt--30 col-sm-12 col-xs-12 xmt-30">
                                <div class="feature foo">
                                    <div class="feature__thumb">
                                        <a th:href="${ban4?.getUrl()}">
                                            <img th:src="@{'/shop/getImg/'+${ban4?.getImage()?.getId()}}" alt="feature product">
                                        </a>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Feature Product -->
        <!-- Start Popular Courses -->
        <section class="htc__popular__product pb--130 bg__white" th:each="slider:${sliders}">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section__title section__title--2 text-center">
                            <h2 class="title__line" th:text="'Моллі рекомендує у розділі '+${slider.getAnimal()}">Моллі рекомендує</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod temp incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="popular__product__wrap clearfix owl-carousel owl-theme another-product-style">
                        <!-- Start Single Popular Product -->
                        <div class="col-md-4 single__pro col-lg-4 col-sm-6 col-xs-12" th:each="pr:${slider.getProducts()}" th:id="'product-'+${pr.getId()}">
                            <div class="product">
                                <div class="product__inner">
                                    <div class="pro__thumb">
<!--                                        <a href="#">-->
                                            <img th:src="@{'/shop/getImgByProductId/'+${pr.getId()}}" alt="product images">
<!--                                        </a>-->
                                    </div>
                                </div>
                                <div class="product__details">
                                    <h2><a class="product-item-name" th:href="@{'/singleProduct/'+${pr.getId()}}" th:text="${pr.getName()}"></a></h2>
                                    <ul class="product-types">
                                        <li th:each="type, info: ${pr.getPackageType()}">
                                            <button class="btn" th:classappend="${(info.count==1)?'active':''}" th:text="${type.getPackSize()+' '+type.getPackType()}" th:value="${type.toString()}"></button>
                                        </li>
                                    </ul>
                                    <p class="product-short-description" style="display: none" th:text="${pr.getShortDescription()}"></p>
                                    <ul class="product__price" th:if="${pr?.getPackageType()?.size()>0}">
                                        <li class="old__price" th:if="${pr?.getPackageType()?.size()>0 && pr?.getPackageType()?.get(0)?.isOnSale()}" th:text="${pr?.getPackageType()?.get(0)?.getPrice()}+' UAH'"></li>
                                        <li class="new__price" th:if="${pr?.getPackageType()?.get(0)?.isOnSale()}" th:text="${pr?.getPackageType()?.get(0)?.getNewPrice()}+' UAH'"></li>

                                        <li class="old__price" style="display: none" th:if="${!pr?.getPackageType()?.get(0)?.isOnSale()}"></li>
                                        <li class="new__price" th:if="${!pr?.getPackageType()?.get(0)?.isOnSale()}" th:text="${pr?.getPackageType()?.get(0)?.getPrice()}+' UAH'"></li>
                                    </ul>
<!--                                    <div class="product__info">-->
<!--                                        <ul class="product__action">-->
<!--                                            <li><a data-toggle="modal" onclick="quickViewProduct(this.closest('.single__pro').id)" title="Швидкий перегляд" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>-->
<!--                                            <li><a title="До кошика" class="send-item-to-card" th:href="@{'/addToCart/'+${pr?.getPackageType()?.get(0)?.getId()}}"><span class="ti-shopping-cart-full"></span></a></li>-->
<!--                                            <li><a title="Купити зараз" class="buy-item-now" href="/checkout"><span class="ti-wallet"></span></a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                    MOD-->
                                    <div class="product__info">
                                        <ul class="product__action">
                                            <li style="width: 100%">
                                                <button title="До кошика" class="send-item-to-card" onclick="addToCartItem(this)">
                                                    <span class="ti-shopping-cart-full" style="color: #000000;font-size: 17px;transition: all 0.3s ease 0s;margin-top: 0; display: inline-block;"></span>в кошик</button>
                                            </li>
                                        </ul>
                                    </div>
<!--                                        MOD-->
                                </div>
                            </div>                            
                        </div>
                        <!-- End Single Popular Product -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End Popular Courses -->
        <!-- Start Footer Area -->
        <div th:replace="~{user/fragments/fragUserFooter.html}"></div>
        <!-- End Footer Area -->
    </div>
    <!-- Body main wrapper end -->
    <!-- QUICKVIEW PRODUCT -->
    <div id="quickview-wrapper">
        <!-- Modal -->
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal__container" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-product">
                            <!-- Start product images -->
                            <div class="product-images">
                                <div class="main-image images">
                                    <img id="productImageModal" width="100%">
                                </div>
                            </div>
                            <!-- end product images -->
                            <div class="product-info">
                                <h1 id="productNameModal"></h1>
                                <div class="pro__details" style="margin-bottom: 1rem">
                                    <p id="productPackageTypeModal"></p>
                                </div>
                                <div class="price-box-3">
                                    <div class="s-price-box">
                                        <span id="productNewPriceModal" class="new-price"></span>
                                        <span id="productOldPriceModal" class="old-price"></span>
                                    </div>
                                </div>
                                <div class="quick-desc" id="productDescriptionModal">
                                    Designed for simplicity and made from high quality materials. Its sleek geometry and material combinations creates a modern look.
                                </div>
                                <div class="addtocart-btn">
                                    <a id="productAddToCartBtnModal" href="#">до кошика</a>
                                </div>
                            </div><!-- .product-info -->
                        </div><!-- .modal-product -->
                    </div><!-- .modal-body -->
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>
        <!-- END Modal -->
    </div>
    <!-- END QUICKVIEW PRODUCT -->
    <!-- Placed js at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
    <script th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
    <!-- Bootstrap framework js -->
<!--    <script th:src="@{/js/bootstrap.min.js}"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- All js plugins included in this file. -->
    <script th:src="@{/js/plugins.js}"></script>
<!--    <script th:src="@{/js/slick.min.js}"></script>-->
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <!-- Waypoints.min.js. -->
<!--    <script th:src="@{/js/waypoints.min.js}"></script>-->
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/liveSearch.js}"></script>
    <script th:src="@{/js/cart.js}"></script>

    <script>
        $( document ).ready(function() {
            document.getElementById("year").innerHTML = new Date().getFullYear();

            $("li.animal-img").hide();
            $("li.animal-img").first().show();

            $('.animal').mouseover(function() {
                let selected = this.id;
                $("li.animal-img").hide();
                $('#animal-image-'+selected).show();
            });

            //calculate cart total sum start
            calculateCartTotal();
            //calculate cart total sum end

            let  size_package_li = $("#packageTypesList li").size();
            let t=3;
            if(t >= size_package_li){
                // console.log("t: "+t+"; s: "+size_package_li);
                $('#loadMoreTypes').hide();
            }
            $('#packageTypesList li:lt('+t+')').show();
            $('#loadMoreTypes').click(function () {
                t = (t+5 <= size_package_li) ? t+5 : size_package_li;
                $('#packageTypesList li:lt('+t+')').show();
                if(t === size_package_li){
                    $('#loadMoreTypes').hide();
                }
            });

            let  size_producer_li = $("#producersList li").size();
            let p=3;
            if(p >= size_producer_li){
                // console.log("p: "+p+"; s: "+size_producer_li);
                $('#loadMoreProducers').hide();
            }
            $('#producersList li:lt('+p+')').show();
            $('#loadMoreProducers').click(function () {
                p = (p+5 <= size_producer_li) ? p+5 : size_producer_li;
                $('#producersList li:lt('+t+')').show();
                if(p === size_producer_li){
                    $('#loadMoreProducers').hide();
                }
            });
        });


        $('.btn').on( 'click', function () {
            $(this).parent().siblings().find('.active').removeClass('active');
            $(this).addClass('active');
            let jsonObj = JSON.parse($(this).val());
            console.log(jsonObj);

            $(this).parent().parent().parent().find('.send-item-to-card').prop("href", "/addToCart/"+jsonObj["id"]);
            $(this).parent().parent().parent().find('.buy-item-now').prop("href", "/buyNow/"+jsonObj["id"]);

            if (jsonObj["onSale"]===true) {
                $(this).closest('.product').find('.on-sale').css('display', 'block');
                $(this).parent().parent().parent().find('.old__price').text(parseFloat(jsonObj["price"]).toFixed(2)+' UAH');
                $(this).parent().parent().parent().find('.old__price').css("display", "inline-block");
                $(this).parent().parent().parent().find('.new__price').text(parseFloat(jsonObj["newPrice"]).toFixed(2)+' UAH');
            }else {
                $(this).closest('.product').find('.on-sale').css('display', 'none');
                $(this).parent().parent().parent().find('.new__price').text(parseFloat(jsonObj["price"]).toFixed(2)+' UAH');
                $(this).parent().parent().parent().find('.old__price').css("display", "none");
            }
        });

        function quickViewProduct(prodId) {
            let productItem = $('#'+prodId);

            console.log("prItem:"+prodId);

            let productName = productItem.find('.product__details .product-item-name').text();
            let productImage = productItem.find('.product__inner .pro__thumb img').attr('src');
            let productDescription = productItem.find('.product__details .product-short-description').text();

            let button = productItem.find('.product-types li button.active');
            let productPackageType = productItem.find('.product-types li .btn.active').text();
            console.log("PPT: "+productPackageType);
            let link = productItem.find('.send-item-to-card').attr('href');
            let jsonObj = JSON.parse($(button).val());

            console.log(jsonObj);

            if (jsonObj["onSale"]===true) {
                $('#productOldPriceModal').text(parseFloat(jsonObj["price"]).toFixed(2)+' UAH');
                $('#productOldPriceModal').css("display", "inline-block");
                $('#productNewPriceModal').text(parseFloat(jsonObj["newPrice"]).toFixed(2)+' UAH');
            }else {
                $('#productNewPriceModal').text(parseFloat(jsonObj["price"]).toFixed(2)+' UAH');
                $('#productOldPriceModal').css("display", "none");
            }

            $('#productNameModal').text(productName);
            $('#productImageModal').attr('src', productImage);
            $('#productDescriptionModal').text(productDescription);
            $('#productPackageTypeModal').text("Пакування: "+productPackageType);
            $('#productAddToCartBtnModal').attr('href', link);


            $('#productModal').modal('show');
        }
    </script>

</body>

</html>