<!doctype html>
<html class="js" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="'Відбірні зоотовари та грумінг CharlieZoo - '+${product.getName()}"></title>
    <meta name="description" th:content="${product.getName()}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">


    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Latest compiled and minified CSS -->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <!-- Owl Carousel main css -->
<!--    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">-->
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" th:href="@{/css/core.css}">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" th:href="@{/css/shortcode/shortcodes.css}">
    <!-- Theme main style -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Responsive css -->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">

    <!-- Modernizr JS -->
    <script th:src="@{js/vendor/modernizr-2.8.3.min.js}"></script>
</head>

<body>
    <!-- Body main wrapper start -->
    <div class="wrapper fixed__footer">
        <!-- Start Header Style -->
        <div th:replace="~{user/fragments/fragUserHeader.html}"></div>
        <!-- End Header Style -->

        <div class="body__overlay"></div>
        <!-- Start Offset Wrapper -->
        <div class="offset__wrapper">
            <!-- Start Search Popap -->
            <div th:replace="~{user/fragments/fragUserSearch.html}"></div>
            <!-- End Search Popap -->
            <!-- Start Offset MEnu -->
            <div class="offsetmenu">
                <div class="offsetmenu__inner">
                    <div class="offsetmenu__close__btn">
                        <a href="#"><i class="zmdi zmdi-close"></i></a>
                    </div>
                    <div class="off__contact">
                        <div class="logo">
                            <a href="index.html">
                                <img src="/images/logo/logo.png" alt="logo">
                            </a>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetu adipisicing elit sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                    <ul class="sidebar__thumd">
                        <li><a href="#"><img src="images/sidebar-img/1.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="images/sidebar-img/2.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="images/sidebar-img/3.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="images/sidebar-img/4.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="images/sidebar-img/5.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="images/sidebar-img/6.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="images/sidebar-img/7.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="images/sidebar-img/8.jpg" alt="sidebar images"></a></li>
                    </ul>
                    <div class="offset__widget">
                        <div class="offset__single">
                            <h4 class="offset__title">Language</h4>
                            <ul>
                                <li><a href="#"> Engish </a></li>
                                <li><a href="#"> French </a></li>
                                <li><a href="#"> German </a></li>
                            </ul>
                        </div>
                        <div class="offset__single">
                            <h4 class="offset__title">Currencies</h4>
                            <ul>
                                <li><a href="#"> USD : Dollar </a></li>
                                <li><a href="#"> EUR : Euro </a></li>
                                <li><a href="#"> POU : Pound </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="offset__sosial__share">
                        <h4 class="offset__title">Follow Us On Social</h4>
                        <ul class="off__soaial__link">
                            <li><a class="bg--twitter" href="#"  title="Twitter"><i class="zmdi zmdi-twitter"></i></a></li>
                            
                            <li><a class="bg--instagram" href="#" title="Instagram"><i class="zmdi zmdi-instagram"></i></a></li>

                            <li><a class="bg--facebook" href="#" title="Facebook"><i class="zmdi zmdi-facebook"></i></a></li>

                            <li><a class="bg--googleplus" href="#" title="Google Plus"><i class="zmdi zmdi-google-plus"></i></a></li>

                            <li><a class="bg--google" href="#" title="Google"><i class="zmdi zmdi-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Offset MEnu -->
            <!-- Start Cart Panel -->
            <div th:replace="~{user/fragments/fragUserCart.html}"></div>
            <!-- End Cart Panel -->
        </div>
        <!-- End Offset Wrapper -->
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url('/images/bg/2.jpg') no-repeat scroll center center / cover ;">
            <div class="ht__bradcaump__wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bradcaump__inner text-center">
                                <h2 class="bradcaump-title">Деталі</h2>
                                <nav class="bradcaump-inner">
                                  <a class="breadcrumb-item" href="/shop">Магазин</a>
                                  <span class="brd-separetor">/</span>
                                  <span class="breadcrumb-item active">Деталі</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- Start Product Details -->
        <section class="htc__product__details product-details-style2 pt--120 pb--100 bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
                        <div class="product__details__container">
                            <div class="product__big__images">
                                <div class="portfolio-full-image tab-content">
                                    <div role="tabpanel" th:classappend="${(index.index==0)?' in active ':''}" class="tab-pane fade product-video-position" th:id="'img-tab-'+${img.getId()}" th:each="img,index:${product.getImages()}">
                                        <img th:src="@{'/shop/getImg/'+${img.getId()}}" alt="full-image">
                                    </div>
                                </div>
                            </div>
                            <!-- Start Small images -->
                            <ul class="product__small__images" role="tablist" style="text-align: center" th:if="${product.getImages().size()>1}">
                                <li role="presentation" class="pot-small-img" th:each="img:${product.getImages()}">
                                    <a role="tab" data-toggle="tab" th:href="'#img-tab-'+${img.getId()}" >
                                        <img th:src="@{'/shop/getImg/'+${img.getId()}}" alt="small-image">
                                    </a>
                                </li>
                            </ul>
                            <!-- End Small images -->
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 smt-30 xmt-30">
                        <div class="htc__product__details__inner">
                            <div class="pro__detl__title">
                                <h2 th:text="${product.getName()}"></h2>
                            </div>
                            <div class="pro__details">
                                <p th:text="${product.getShortDescription()}"></p>
                            </div>
                            <ul class="pro__dtl__prize">
                                <li id="old__prize" class="old__prize" th:if="${product?.getPackageType()?.get(0)?.isOnSale()}" th:text="${product?.getPackageType()?.get(0)?.getPrice()}+' UAH'">$16.00</li>
                                <li id="new__price" class="new__price" th:if="${product?.getPackageType()?.get(0)?.isOnSale()}" th:text="${product.getPackageType()?.get(0)?.getNewPrice()}+' UAH'">$10.00</li>

                                <li id="old__prize" class="old__prize" style="display: none" th:if="${!product?.getPackageType()?.get(0)?.isOnSale()}">$16.00</li>
                                <li id="new__price" class="new__price" th:if="${!product?.getPackageType()?.get(0)?.isOnSale()}" th:text="${product?.getPackageType()?.get(0)?.getPrice()}+' UAH'">$10.00</li>
                            </ul>

                            <div class="pro__dtl__size">
                                <h2 class="title__5">Пакування:</h2>
                                <ul class="product-types">
                                    <li th:each="type, info : ${product?.getPackageType()}" th:if="${type!=null}">
                                        <button class="btn package-type-btn" th:classappend="${(info.count==1)?'active':''}" th:text="${type?.getPackSize()+' '+type?.getPackType()}" th:value="${type?.toString()}"></button>
                                    </li>
                                </ul>
                            </div>

                            <div class="product-action-wrap">
                                <div class="prodict-statas"><span>Кількість :</span></div>
                                <div class="product-quantity">
                                    <div class="product-quantity">
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" id="itemsCount" type="text" name="qtybutton" value="1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="pro__dtl__btn">
                                <li class="buy__now__btn"><button onclick="buyNow();">Замовити зараз</button></li>
                                <li><button title="До кошика" onclick="addProductToTheCart();"><span class="ti-shopping-cart-full"></span></button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Product Details -->

        <section class="htc__product__details__tab bg__white pb--120">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <ul class="product__deatils__tab mb--60" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#description" role="tab" data-toggle="tab" th:if="${product.getDetails()!=null && !product.getDetails()?.isEmpty()}">Детальний опис</a>
                            </li>
                            <li role="presentation">
                                <a href="#sheet" role="tab" data-toggle="tab" th:if="${product.getDailyNorm()!=null && !product.getDailyNorm()?.isEmpty()}">Добова норма</a>
                            </li>
                            <li role="presentation">
                                <a href="#reviews" role="tab" data-toggle="tab" th:if="${product.getProducerDetails()!=null && !product.getProducerDetails()?.isEmpty()}">Виробник</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="product__details__tab__content">
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="product__tab__content fade in active">
                                <div class="product__description__wrap" th:utext="${product.getDetails()}">

                                </div>
                            </div>
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="sheet" class="product__tab__content fade">
                                <div class="pro__feature" style="overflow-x: auto;" th:utext="${product.getDailyNorm()}">

                                </div>
                            </div>
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="reviews" class="product__tab__content fade" th:utext="${product.getProducerDetails()}">

                            </div>
                            <!-- End Single Content -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Product tab -->

        <!-- Start Footer Area -->
        <div th:replace="~{user/fragments/fragUserFooter.html}"></div>
        <!-- End Footer Area -->
    </div>
    <!-- Body main wrapper end -->
    <!-- Placed js at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
    <script th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
    <!-- Bootstrap framework js -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
    <!-- All js plugins included in this file. -->
    <script th:src="@{/js/plugins.js}"></script>
<!--    <script th:src="@{/js/slick.min.js}"></script>-->
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <!-- Waypoints.min.js. -->
<!--    <script th:src="@{/js/waypoints.min.js}"></script>-->
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/liveSearch.js}"></script>
    <script th:src="@{/js/cart.js}"></script>

    <script>
        $( document ).ready(function() {
            document.getElementById("year").innerHTML = new Date().getFullYear();

            let active = 'active';

            //calculate cart total sum start
            calculateCartTotal();
            //calculate cart total sum end

            $('.btn').on( 'click', function () {
                $(this).parent().siblings().find('.' + active).removeClass(active);
                $(this).addClass(active);
                let jsonObj = JSON.parse($(this).val());
                console.log(jsonObj);
                if (jsonObj["onSale"]===true) {
                    $('#old__prize').text(parseFloat(jsonObj["price"]).toFixed(2)+' UAH');
                    $('#old__prize').css("display", "inline-block");
                    $('#new__price').text(parseFloat(jsonObj["newPrice"]).toFixed(2)+' UAH');
                }else {
                    $('#new__price').text(parseFloat(jsonObj["price"]).toFixed(2)+' UAH');
                    $('#old__prize').css("display", "none");
                }
            });
        });

        $("li.animal-img").hide();
        $("li.animal-img").first().show();

        $('.animal').mouseover(function() {
            let selected = this.id;
            $("li.animal-img").hide();
            $('#animal-image-'+selected).show();
        });

        //calculate cart total sum start
        let sum = 0.0;
        let allCartItems = document.getElementsByClassName('shp__pro__details');
        Array.prototype.forEach.call(allCartItems, function(el) {
            let quantity = parseInt(($(el).find('.quantity').text()).match(/(\d+)/));
            let price = parseFloat($(el).find('.shp__price').text());
            console.log("q: "+quantity+"; price: "+ price);
            sum+=(price);
        });
        $('#totalCartSum').text(parseFloat(sum).toFixed(2)+" UAH");
        //calculate cart total sum end

        function buyNow() {
            let button = $('button.active')[0];
            let jsonObj = JSON.parse($(button).val());
            let packageType = parseInt(jsonObj["id"]);
            let count = parseInt($('#itemsCount').val());

            $.ajax({
                method: "post",
                url: "/addToCart/"+packageType,
                contextType: "application/json",
                data: {
                    count: count,
                },
                traditional: true,
                success: function(dto){
                    location.href = '/cart';
                },
                error: function () {
                    alert("Помилка! Спробуйте ще раз");
                }
            });
        }

        function addProductToTheCart() {
            let button = $('button.active')[0];
            let jsonObj = JSON.parse($(button).val());
            let packageType = parseInt(jsonObj["id"]);

            let count = parseInt($('#itemsCount').val());

            let sideBar = $('#sidebarCart');

            console.log("package id: "+packageType+"; count: "+count);

            $.ajax({
                method: "post",
                url: "/addToCart/"+packageType,
                contextType: "application/json",
                data: {
                    count: count
                },
                traditional: true,
                success: function(dto){
                    sideBar.empty();
                    console.log(dto);
                    let orderDetails = dto['orderDetails'];
                    for (let i=0; i<orderDetails.length; i++){
                        console.log(orderDetails[i]);
                        let itemsSum = 0.0;
                        if (orderDetails[i].packageTypeDto.onSale===true){
                            itemsSum = parseInt(orderDetails[i].count)*parseFloat(orderDetails[i].packageTypeDto.newPrice);
                        }else {
                            itemsSum = parseInt(orderDetails[i].count)*parseFloat(orderDetails[i].packageTypeDto.price);
                        }
                        sideBar.prepend('<div class="shp__single__product">\n' +
                            '                <div class="shp__pro__thumb">\n' +
                            '                    <a href="/singleProduct/'+orderDetails[i].packageTypeDto.productDto.id+'">\n' +
                            '                        <img src="/shop/getImgByProductId/'+orderDetails[i].packageTypeDto.productDto.id+'" alt="product images">\n' +
                            '                    </a>\n' +
                            '                </div>\n' +
                            '                <div class="shp__pro__details">\n' +
                            '                    <h2><a href="/singleProduct/'+orderDetails[i].packageTypeDto.productDto.id+'">'+orderDetails[i].packageTypeDto.productDto.name+' ('+orderDetails[i].packageTypeDto.packSize+' '+orderDetails[i].packageTypeDto.packType+')</a></h2>\n' +
                            '                    <span class="quantity">Кількість: '+orderDetails[i].count+'</span>\n' +
                            '                    <span class="shp__price">'+itemsSum.toFixed(2)+' UAH'+'</span>\n' +
                            '                </div>\n' +
                            '                <div class="remove__btn">\n' +
                            '                    <button onclick="removeItemFromCart('+orderDetails[i].id+',\''+orderDetails[i].orderInfoId+'\')" title="Видалити з кошика"><i class="zmdi zmdi-close"></i></button>\n' +
                            '                </div>\n' +
                            '            </div>');
                    }
                    calculateCartTotal();
                },
                error: function () {
                    alert("Помилка! Спробуйте ще раз");
                }
            });
        }
    </script>

</body>

</html>