<!doctype html>
<html class="js" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Магазин</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    

    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Owl Carousel main css -->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" th:href="@{/css/core.css}">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" th:href="@{/css/shortcode/shortcodes.css}">
    <!-- Theme main style -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Responsive css -->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- User style -->
    <link rel="stylesheet" th:href="@{/css/custom.css}">


    <!-- Modernizr JS -->
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!-- Body main wrapper start -->
    <div class="wrapper fixed__footer">
        <!-- Start Header Style -->
        <div th:replace="~{user/fragments/fragUserHeader.html}"></div>
        <!-- End Header Style -->

        <div class="body__overlay"></div>
        <!-- Start Offset Wrapper -->
        <div class="offset__wrapper">
            <!-- Start Search Popap -->
            <div th:replace="~{user/fragments/fragUserSearch.html}"></div>
            <!-- End Search Popap -->
            <!-- Start Offset MEnu -->
            <div class="offsetmenu">
                <div class="offsetmenu__inner">
                    <div class="offsetmenu__close__btn">
                        <a href="#"><i class="zmdi zmdi-close"></i></a>
                    </div>
                    <div class="off__contact">
                        <div class="logo">
                            <a href="index.html">
                                <img src="/images/logo/logo.png" alt="logo">
                            </a>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetu adipisicing elit sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                    <ul class="sidebar__thumd">
                        <li><a href="#"><img src="/images/sidebar-img/1.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="/images/sidebar-img/2.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="/images/sidebar-img/3.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="/images/sidebar-img/4.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="/images/sidebar-img/5.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="/images/sidebar-img/6.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="/images/sidebar-img/7.jpg" alt="sidebar images"></a></li>
                        <li><a href="#"><img src="/images/sidebar-img/8.jpg" alt="sidebar images"></a></li>
                    </ul>
                    <div class="offset__widget">
                        <div class="offset__single">
                            <h4 class="offset__title">Language</h4>
                            <ul>
                                <li><a href="#"> Engish </a></li>
                                <li><a href="#"> French </a></li>
                                <li><a href="#"> German </a></li>
                            </ul>
                        </div>
                        <div class="offset__single">
                            <h4 class="offset__title">Currencies</h4>
                            <ul>
                                <li><a href="#"> USD : Dollar </a></li>
                                <li><a href="#"> EUR : Euro </a></li>
                                <li><a href="#"> POU : Pound </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="offset__sosial__share">
                        <h4 class="offset__title">Follow Us On Social</h4>
                        <ul class="off__soaial__link">
                            <li><a class="bg--twitter" href="#"  title="Twitter"><i class="zmdi zmdi-twitter"></i></a></li>
                            
                            <li><a class="bg--instagram" href="#" title="Instagram"><i class="zmdi zmdi-instagram"></i></a></li>

                            <li><a class="bg--facebook" href="#" title="Facebook"><i class="zmdi zmdi-facebook"></i></a></li>

                            <li><a class="bg--googleplus" href="#" title="Google Plus"><i class="zmdi zmdi-google-plus"></i></a></li>

                            <li><a class="bg--google" href="#" title="Google"><i class="zmdi zmdi-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Offset MEnu -->
            <!-- Start Cart Panel -->
            <div th:replace="~{user/fragments/fragUserCart.html}"></div>
            <!-- End Cart Panel -->
        </div>
        <!-- End Offset Wrapper -->
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url('/images/bg/2.jpg') no-repeat scroll center center / cover ;">
            <div class="ht__bradcaump__wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bradcaump__inner text-center">
                                <h2 class="bradcaump-title">Магазин</h2>
                                <nav class="bradcaump-inner">
                                    <a class="breadcrumb-item" href="/shop">Магазин</a>
                                    <span class="brd-separetor">/</span>
                                  <a class="breadcrumb-item" th:href="'/shop/'+${animal.getUrl()}" th:if="${animal!=null}" th:text="${animal.getName()}">Home</a>
                                  <span class="brd-separetor" th:if="${animal!=null}">/</span>
                                    <a class="breadcrumb-item" th:href="${'/shop/'+animal.getUrl()+'/'+category.getUrl()}" th:if="${category!=null}" th:text="${category.getName()}">Home</a>
                                    <span class="brd-separetor" th:if="${category!=null}">/</span>
                                  <span class="breadcrumb-item active" th:text="${currentAll}">Shop Page</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area --> 
        <!-- Start Our Product Area -->
        <section class="htc__product__area shop__page ptb--130 bg__white">
            <div class="container">
                <div class="htc__product__container">
                    <!-- Start Product MEnu -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="filter__menu__container">
                                <div class="product__menu">
                                    <a class="is-checked" th:text="${(currentAll!=null)?currentAll:'Всі товари'}">All</a>
                                    <a th:href="${currentUrl+ct.getUrl()}"  th:each="ct : ${categoryBtn}" th:text="${ct.getName()}">All</a>
                                </div>
                                <div class="filter__box">
                                    <button class="filter__menu">фільтри</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Start Filter Menu -->
                    <div class="filter__wrap">
                        <div class="filter__cart">
                            <div class="filter__cart__inner">
                                <div class="filter__menu__close__btn">
                                    <button><i class="zmdi zmdi-close"></i></button>
                                </div>
                                <div class="filter__content">
                                    <!-- Start Single Content -->
                                    <div class="fiter__content__inner">
                                        <div class="single__filter">
                                            <h2 class="sorting-header">Сортування</h2>
                                            <ul class="filter__list">
                                                <li><a th:href="${sortingUrl}+'sortType=bestseller'" th:style="${(sortName!=null && sortName?.equals('bestseller'))?'color:red;':''}">Спочатку бестселлери</a></li>
                                                <li><a th:href="${sortingUrl}+'sortType=new'" th:style="${(sortName!=null && sortName?.equals('new'))?'color:red;':''}">Спочатку найновіші</a></li>
                                                <li><a th:href="${sortingUrl}+'sortType=cheap'" th:style="${(sortName!=null && sortName?.equals('cheap'))?'color:red;':''}">Спочатку найдешевші</a></li>
                                                <li><a th:href="${sortingUrl}+'sortType=expensive'" th:style="${(sortName!=null && sortName?.equals('expensive'))?'color:red;':''}">Спочатку найдорожчі</a></li>
                                            </ul>
                                        </div>
                                        <div class="single__filter">
                                            <h2>Ціна</h2>
                                            <!-- Start Range -->
                                                <div class="content-shopby">
                                                    <div class="price_filter s-filter clear">
<!--                                                        <form th:action="${currentUrlFiltered}" method="GET">-->
                                                            <input type="text" hidden="hidden" th:value="${minPrice}" id="priceSliderStartRangePoint" name="min">
                                                            <input type="text" hidden="hidden" th:value="${maxPrice}" id="priceSliderEndRangePoint" name="max">
                                                            <input type="text" hidden="hidden" th:value="${currentUrlFiltered}" id="priceSliderLink" name="link">

                                                            <ul class="filter__list" th:if="${filterPriceValue!=null}">
                                                                <li><a th:href="${withoutPriceUrl}" style="color: red;"><span th:text="${filterPriceValue}" style="color: red;"></span><i style="margin-left: 8px;" class="zmdi zmdi-close"></i></a></li>
                                                            </ul>

                                                            <div id="slider-range"></div>
                                                            <div class="slider__range--output">
                                                                <div class="price__output--wrap">
                                                                    <div class="price--output">
                                                                        <input type="text" id="amount" readonly>
                                                                    </div>
                                                                </div>
                                                                <div class="price--filter">
                                                                    <a id="filterByPriceBtn" th:href="@{${withoutPriceUrl}+'min='+${minPrice}+'&max='+${maxPrice}}">Фільтрувати</a>
                                                                </div>
                                                            </div>
<!--                                                        </form>-->
                                                    </div>
                                                </div>
                                            <!-- End Range -->
                                        </div>
                                        <div class="single__filter">
                                            <h2>Пакування</h2>
                                            <ul class="filter__list" id="packageTypesList">
                                                <li th:if="${withoutPackUrl==null}" th:each="pack :${packSizes}"><a th:href="${currentUrlFiltered}+'packSize='+${pack}" th:text="${pack}">XXL</a></li>
                                                <li th:if="${withoutPackUrl!=null}"><a th:href="${withoutPackUrl}" class="selected-filter"><span th:text="${packName}">Selected filter name</span><i style="margin-left: 8px;" class="zmdi zmdi-close"></i></a></li>
                                                <li id="loadMoreTypes" th:if="${withoutPackUrl==null}">Більше <span class="ti-angle-double-down"></span></li>
                                            </ul>
                                        </div>
                                        <div class="single__filter">
                                            <h2>Виробник</h2>
                                            <ul class="filter__list" id="producersList">
                                                <li th:if="${withoutProducerUrl==null}" th:each="pr :${producerList}"><a th:href="${currentUrlFiltered}+'producerId='+${pr.getId()}" th:text="${pr.getName()}">All</a></li>
                                                <li th:if="${withoutProducerUrl!=null}"><a th:href="${withoutProducerUrl}" class="selected-filter"><span th:text="${producerName.getName()}">Selected filter name</span><i style="margin-left: 8px;" class="zmdi zmdi-close"></i></a></li>
                                                <li th:if="${withoutProducerUrl==null}" id="loadMoreProducers">Більше <span class="ti-angle-double-down"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- End Single Content -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Filter Menu -->
                    <!-- End Product MEnu -->
                    <div class="row">
                        <div class="product__list another-product-style">
                            <!-- Start Single Product -->
                            <div class="col-md-3 single__pro col-lg-3 cat--1 col-sm-4 col-xs-12" th:each="pr : ${products}" th:id="'product-'+${pr.getId()}">
                                <div class="product foo">
                                    <div class="product__inner">
                                        <div class="pro__thumb">
<!--                                            <a href="#">-->
                                                <img th:src="@{'/shop/getImgByProductId/'+${pr.getId()}}" width="100%" alt="product images">
<!--                                            </a>-->
                                        </div>
                                        <div th:if="${pr?.getPackageType()?.get(0)?.isOnSale()}" class="on-sale">
                                            <span>on sale</span>
                                        </div>
                                        <div class="on-sale" style="display: none;">
                                            <span>on sale</span>
                                        </div>
                                    </div>
                                    <div class="product__details">
                                        <h2><a class="product-item-name" th:href="@{'/singleProduct/'+${pr.getId()}}" th:text="${pr.getName()}"></a></h2>
                                        <ul class="product-types">
                                            <li th:each="type, info: ${pr.getPackageType()}">
                                                <button class="btn" th:classappend="${(info.count==1)?'active':''}" th:text="${type.getPackSize()+' '+type.getPackType()}" th:value="${type.toString()}"></button>
                                            </li>
                                        </ul>
                                        <p class="product-short-description" style="display: none" th:text="${pr.getShortDescription()}"></p>
                                        <ul class="product__price">
                                            <li class="old__price" th:if="${pr?.getPackageType()?.size()>0 && pr?.getPackageType()?.get(0)?.isOnSale()}" th:text="${pr?.getPackageType()?.get(0)?.getPrice()}+' UAH'"></li>
                                            <li class="new__price" th:if="${pr?.getPackageType()?.get(0)?.isOnSale()}" th:text="${pr?.getPackageType()?.get(0)?.getNewPrice()}+' UAH'"></li>

                                            <li class="old__price" style="display: none" th:if="${!pr?.getPackageType()?.get(0)?.isOnSale()}"></li>
                                            <li class="new__price" th:if="${!pr?.getPackageType()?.get(0)?.isOnSale()}" th:text="${pr?.getPackageType()?.get(0)?.getPrice()}+' UAH'"></li>
                                        </ul>
                                        <div class="product__info">
                                            <ul class="product__action">
                                                <li><a data-toggle="modal" onclick="quickViewProduct(this.closest('.single__pro').id)" title="Швидкий перегляд" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                                                <li><a title="До кошика" class="send-item-to-card" th:href="@{'/addToCart/'+${pr?.getPackageType()?.get(0)?.getId()}}"><span class="ti-shopping-cart-full"></span></a></li>
                                                <li><a title="Купити зараз" class="buy-item-now" href="/checkout"><span class="ti-wallet"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Product -->
                        </div>
                    </div>
                    <!-- Start Load More BTn -->
                    <div class="row mt--60">
                        <div class="col-md-12">
                            <ul class="pager">
                                <li><a th:if="${currentPage!=null && currentPage -1!=0}" th:href="${currentUrlFiltered}+'page='+(${currentPage}-1)">Попередня</a></li>
                                <li th:text="${currentPage}">1</li>
                                <li>/</li>
                                <li th:text="${countOfPages}">5</li>
                                <li><a th:if="${currentPage!=null && currentPage+1<=countOfPages}" th:href="${currentUrlFiltered}+'page='+(${currentPage}+1)">Наступна</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Load More BTn -->
                </div>
            </div>
        </section>
        <!-- End Our Product Area -->
        <!-- Start Footer Area -->
        <div th:replace="~{user/fragments/fragUserFooter.html}"></div>
        <!-- End Footer Area -->
    </div>
    <!-- Body main wrapper end -->
    <!-- QUICKVIEW PRODUCT -->
    <div id="quickview-wrapper">
        <!-- Modal -->
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal__container" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-product">
                            <!-- Start product images -->
                            <div class="product-images">
                                <div class="main-image images">
                                    <img id="productImageModal" width="100%">
                                </div>
                            </div>
                            <!-- end product images -->
                            <div class="product-info">
                                <h1 id="productNameModal"></h1>
                                <div class="pro__details" style="margin-bottom: 1rem">
                                    <p id="productPackageTypeModal"></p>
                                </div>
                                <div class="price-box-3">
                                    <div class="s-price-box">
                                        <span id="productNewPriceModal" class="new-price"></span>
                                        <span id="productOldPriceModal" class="old-price"></span>
                                    </div>
                                </div>
                                <div class="quick-desc" id="productDescriptionModal">
                                    Designed for simplicity and made from high quality materials. Its sleek geometry and material combinations creates a modern look.
                                </div>
                                <div class="addtocart-btn">
                                    <a id="productAddToCartBtnModal" href="#">до кошика</a>
                                </div>
                            </div><!-- .product-info -->
                        </div><!-- .modal-product -->
                    </div><!-- .modal-body -->
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>
        <!-- END Modal -->
    </div>
    <!-- END QUICKVIEW PRODUCT -->
    <!-- Placed js at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
    <script th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
    <!-- Bootstrap framework js -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- All js plugins included in this file. -->
    <script th:src="@{/js/plugins.js}"></script>
    <script th:src="@{/js/slick.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <!-- Waypoints.min.js. -->
    <script th:src="@{/js/waypoints.min.js}"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/liveSearch.js}"></script>

<script>
    $( document ).ready(function() {
        document.getElementById("year").innerHTML = new Date().getFullYear();

        let active = 'active';

        $('.btn').on( 'click', function () {
            $(this).parent().siblings().find('.' + active).removeClass(active);
            $(this).addClass(active);
            let jsonObj = JSON.parse($(this).val());
            console.log(jsonObj);

            $(this).parent().parent().parent().find('.send-item-to-card').prop("href", "/addToCart/"+jsonObj["id"]);
            $(this).parent().parent().parent().find('.buy-item-now').prop("href", "/buyNow/"+jsonObj["id"]);

            if (jsonObj["onSale"]===true) {
                $(this).closest('.product').find('.on-sale').css('display', 'block');
                $(this).parent().parent().parent().find('.old__price').text(parseFloat(jsonObj["price"]).toFixed(2)+' UAH');
                $(this).parent().parent().parent().find('.old__price').css("display", "inline-block");
                $(this).parent().parent().parent().find('.new__price').text(parseFloat(jsonObj["newPrice"]).toFixed(2)+' UAH');
            }else {
                $(this).closest('.product').find('.on-sale').css('display', 'none');
                $(this).parent().parent().parent().find('.new__price').text(parseFloat(jsonObj["price"]).toFixed(2)+' UAH');
                $(this).parent().parent().parent().find('.old__price').css("display", "none");
            }
        });

        $("li.animal-img").hide();
        $("li.animal-img").first().show();

        $('.animal').mouseover(function() {
            let selected = this.id;
            $("li.animal-img").hide();
            $('#animal-image-'+selected).show();
        });

        //calculate cart total sum start
        let sum = 0.0;
        let allCartItems = document.getElementsByClassName('shp__pro__details');
        Array.prototype.forEach.call(allCartItems, function(el) {
            let quantity = parseInt(($(el).find('.quantity').text()).match(/(\d+)/));
            let price = parseFloat($(el).find('.shp__price').text());
            console.log("q: "+quantity+"; price: "+ price);
            sum+=(price);
        });
        $('#totalCartSum').text(parseFloat(sum).toFixed(2)+" UAH");
        //calculate cart total sum end

        let  size_package_li = $("#packageTypesList li").size();
        let t=3;
        if(t >= size_package_li){
            // console.log("t: "+t+"; s: "+size_package_li);
            $('#loadMoreTypes').hide();
        }
        $('#packageTypesList li:lt('+t+')').show();
        $('#loadMoreTypes').click(function () {
            t = (t+5 <= size_package_li) ? t+5 : size_package_li;
            $('#packageTypesList li:lt('+t+')').show();
            if(t === size_package_li){
                $('#loadMoreTypes').hide();
            }
        });

        let  size_producer_li = $("#producersList li").size();
        let p=3;
        if(p >= size_producer_li){
            // console.log("p: "+p+"; s: "+size_producer_li);
            $('#loadMoreProducers').hide();
        }
        $('#producersList li:lt('+p+')').show();
        $('#loadMoreProducers').click(function () {
            p = (p+5 <= size_producer_li) ? p+5 : size_producer_li;
            $('#producersList li:lt('+t+')').show();
            if(p === size_producer_li){
                $('#loadMoreProducers').hide();
            }
        });
    });

    function quickViewProduct(prodId) {
        let productItem = $('#'+prodId);

        let productName = productItem.find('.product__details .product-item-name').text();
        let productImage = productItem.find('.product__inner .pro__thumb img').attr('src');
        let productDescription = productItem.find('.product__details .product-short-description').text();

        let button = productItem.find('.product-types li button.active');
        let productPackageType = productItem.find('.product-types li button.active').text();
        let link = productItem.find('.send-item-to-card').attr('href');
        let jsonObj = JSON.parse($(button).val());

        console.log(jsonObj);

        if (jsonObj["onSale"]===true) {
            $('#productOldPriceModal').text(parseFloat(jsonObj["price"]).toFixed(2)+' UAH');
            $('#productOldPriceModal').css("display", "inline-block");
            $('#productNewPriceModal').text(parseFloat(jsonObj["newPrice"]).toFixed(2)+' UAH');
        }else {
            $('#productNewPriceModal').text(parseFloat(jsonObj["price"]).toFixed(2)+' UAH');
            $('#productOldPriceModal').css("display", "none");
        }

        $('#productNameModal').text(productName);
        $('#productImageModal').attr('src', productImage);
        $('#productDescriptionModal').text(productDescription);
        $('#productPackageTypeModal').text("Пакування: "+productPackageType);
        $('#productAddToCartBtnModal').attr('href', link);


        $('#productModal').modal('show');
    }
</script>

</body>

</html>