<footer class="htc__foooter__area gray-bg" xmlns:th="http://www.thymeleaf.org">
        <div class="container">
            <div class="row">
                <div class="footer__container clearfix">
                    <!-- Start Single Footer Widget -->
                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                        <div class="ft__widget">
                            <div class="footer-address">
                                <ul>
                                    <li>
                                        <div class="address-icon">
                                            <i class="zmdi zmdi-pin"></i>
                                        </div>
                                        <div class="address-text">
                                            <p>м. Львів, вул. Київська 25</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="address-icon">
                                            <i class="zmdi zmdi-pin"></i>
                                        </div>
                                        <div class="address-text">
                                            <p>м. Львів, вул. Колоскова 11</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="address-icon">
                                            <i class="zmdi zmdi-phone-in-talk"></i>
                                        </div>
                                        <div class="address-text">
                                            <a href="tel:+380936710404">+(380)-936-710-404</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <ul class="social__icon">
                                <li><a href="https://www.instagram.com/charlie_and_woof"><i class="zmdi zmdi-instagram"></i></a></li>
                                <li><a href="https://www.facebook.com/lvivgrooming/"><i class="zmdi zmdi-facebook"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCBZ50_GGc9LujSd7lVynHLA"><i class="zmdi zmdi-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Footer Widget -->
                    <!-- Start Single Footer Widget -->
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-6 smt-30 xmt-30">
                        <div class="ft__widget">
                            <h2 class="ft__title">Категорії</h2>
                            <ul class="footer-categories">
                                <li th:each="a :${animals}" th:id="${a.getUrl()}">
                                    <a th:href="@{|/shop/${a.getUrl()}|}" th:text="${a.getName()}"></a>
                                </li>
<!--                                <li><a href="#">Коти</a></li>-->
                            </ul>
                        </div>
                    </div>
                    <!-- Start Single Footer Widget -->
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-6 smt-30 xmt-30">
                        <div class="ft__widget">
                            <h2 class="ft__title">Інформація</h2>
                            <ul class="footer-categories">
                                <li><a href="#">Франшиза</a></li>
                                <li><a href="#">Співпраця</a></li>
                                <li><a href="#">Доставка/Повернення</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Start Single Footer Widget -->
                    <div class="col-md-2 col-lg-2 col-sm-4 col-xs-12 xmt-30">
                        <div class="ft__widget">
                            <div class="ft__logo" style="text-align: center;">
                                <a href="/">
                                    <img th:src="@{/images/charlie.png}" alt="footer logo" width="70%">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Footer Widget -->
                </div>
            </div>
        <!-- Start Copyright Area -->
        <div class="htc__copyright__area">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="copyright__inner">
                        <div class="copyright">
                            <p>© <span id="year"></span> <a href="/">Charlie Zoo.</a>
                                Всі права захищено.</p>
                        </div>
                        <ul class="footer__menu">
                            <li><a href="/">Головна</a></li>
                            <li><a href="/shop">Магазин</a></li>
                            <li><a href="/contact">Контакти</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Copyright Area -->
    </div>
</footer>