<div class="shopping__cart" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="shopping__cart__inner">
        <div class="offsetmenu__close__btn">
            <a href="#"><i class="zmdi zmdi-close"></i></a>
        </div>
        <div class="shp__cart__wrap" id="sidebarCart">
            <div class="shp__single__product" th:each="dt : ${orderInfo?.getOrderDetails()}">
                <div class="shp__pro__thumb">
                    <a th:href="'/singleProduct/'+${dt.getPackageType()?.getProduct()?.getId()}">
                        <img th:src="'/shop/getImgByProductId/'+${dt.getPackageType().getProduct().getId()}" alt="product images">
                    </a>
                </div>
                <div class="shp__pro__details">
                    <h2><a th:href="'/singleProduct/'+${dt.getPackageType().getProduct().getId()}" th:text="${dt.getPackageType().getProduct().getName()}"></a></h2>
                    <span class="quantity" th:text="'Кількість: '+${dt.getCount()}"></span>
                    <span class="shp__price" th:text="${dt.getPackageType().getPrice().doubleValue()*dt.getCount()}+' UAH'" th:if="${!dt.getPackageType().isOnSale()}"></span>
                    <span class="shp__price" th:text="${dt.getPackageType().getNewPrice().doubleValue()*dt.getCount()}+' UAH'" th:if="${dt.getPackageType().isOnSale()}"></span>
                </div>
                <div class="remove__btn">
                    <a th:href="'/removeFromCart?id='+${dt.getId()}+'&uuid='+${orderInfo.getId().toString()}" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                </div>
            </div>
        </div>
        <ul class="shoping__total">
            <li class="subtotal">До оплати:</li>
            <li id="totalCartSum" class="total__price"></li>
        </ul>
        <ul class="shopping__btn">
            <li><a href="/cart">Переглянути кошик</a></li>
            <li class="shp__checkout"><a href="/checkout">Оформити замовлення</a></li>
        </ul>
    </div>
</div>