<div class="search__area" xmlns:th="http://www.thymeleaf.org">
    <div class="container" >
        <div class="row" >
            <div class="col-md-12" >
                <div class="search__inner">
                    <form action="#" method="get">
                        <input placeholder="Пошук..." type="text" id="mainSearchInput" autocomplete="off" onfocusout="hideResults()" oninput="setSearchDelay()">
                        <button type="button"></button>
                    </form>
                    <div class="search__close__btn">
                        <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="mainSearchResults">
        <table id="mainSearchTable">
            <thead>
            <tr class="">
                <th class=""></th>
                <th class=""></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <img src="/images/product/1.png" alt="">
                </td>
                <td >
                    <a href="#">
                        Iv San Bernard макса PEK Pink Grapefruit
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="/images/product/1.png" alt="">
                </td>
                <td>
                    <a href="#">
                        Iv San Bernard макса PEK Pink Grapefruit
                    </a>
                </td>
            </tr>
            <tr>
                <td >
                    <img src="/images/product/1.png" alt="">
                </td>
                <td >
                    <a href="#">
                        Iv San Bernard макса PEK Pink Grapefruit
                    </a>
                </td>
            </tr>
            <tr>
                <td >
                    <img src="/images/product/1.png" alt="">
                </td>
                <td >
                    <a href="#">
                        Iv San Bernard макса PEK Pink Grapefruit
                    </a>
                </td>
            </tr>
            <tr>
                <td >
                    <img src="/images/product/1.png" alt="">
                </td>
                <td >
                    <a href="#">
                        Iv San Bernard макса PEK Pink Grapefruit
                    </a>
                </td>
            </tr>
            <tr>
                <td >
                    <img src="/images/product/1.png" alt="">
                </td>
                <td >
                    <a href="#">
                        Iv San Bernard макса PEK Pink Grapefruit
                    </a>
                </td>
            </tr>
            <tr >
                <td >
                    <img src="/images/product/1.png" alt="">
                </td>
                <td >
                    <a href="#">
                        Landor Sterilized&Light Duck with Rice Корм для стерилізованих тварин зі схильністю до надмірної ваги srtdvtrtbvstv vtdfgdfgvx xvgvxfvxgx gvxgvxvdgf xtvbdvtdctvbd vtcdvrtvdcgvbd dcfgvtvdcgfvdfgv vdbdvcdv
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>