<div class="search__area" xmlns:th="http://www.thymeleaf.org">
    <div class="container" >
        <div class="row" >
            <div class="col-md-12" >
                <div class="search__inner">
                    <form action="#" method="get">
                        <input placeholder="Пошук..." type="text" id="mainSearchInput" autocomplete="off" onfocusout="hideResults()" oninput="setSearchDelay()">
                        <button type="button"><span class="ti-search" style="font-size: 26px; line-height: inherit"></span></button>
                    </form>
                    <div class="search__close__btn">
                        <span class="search__close__btn_icon"><i class="ti-close" style="line-height: inherit;"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="mainSearchResults">
        <table id="mainSearchTable">
            <tbody>
            </tbody>
        </table>
    </div>
</div>