<div class="shopping__cart" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="shopping__cart__inner">
        <div class="offsetmenu__close__btn">
            <a href="#"><i class="zmdi zmdi-close"></i></a>
        </div>
        <div class="shp__cart__wrap">
            <div class="shp__single__product" th:each="dt : ${orderInfo?.getOrderDetails()}">
                <div class="shp__pro__thumb">
                    <a th:href="'/singleProduct/'+${dt.getPackageType()?.getProduct()?.getId()}">
                        <img th:src="'/shop/getImgByProductId/'+${dt.getPackageType().getProduct().getId()}" alt="product images">
                    </a>
                </div>
                <div class="shp__pro__details">
                    <h2><a th:href="'/singleProduct/'+${dt.getPackageType().getProduct().getId()}" th:text="${dt.getPackageType().getProduct().getName()}">BO&Play Wireless Speaker</a></h2>
                    <span class="quantity" th:text="${dt.getCount()}">QTY: 1</span>
                    <span class="shp__price" th:text="${dt.getPackageType().getPrice()}" th:if="${!dt.getPackageType().isOnSale()}">$105.00</span>
                    <span class="shp__price" th:text="${dt.getPackageType().getNewPrice()}" th:if="${dt.getPackageType().isOnSale()}">$105.00</span>
                </div>
                <div class="remove__btn">
                    <a th:href="'/removeFromCart?id='+${dt.getId()}+'&uuid='+${orderInfo.getId().toString()}" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                </div>
            </div>
        </div>
        <ul class="shoping__total">
            <li class="subtotal">Subtotal:</li>
            <li class="total__price">$130.00</li>
        </ul>
        <ul class="shopping__btn">
            <li><a href="/cart">View Cart</a></li>
            <li class="shp__checkout"><a href="/checkout">Checkout</a></li>
        </ul>
    </div>
</div>