<!-- Start Header Style -->
<header id="header" class="htc-header header--3 bg__white" xmlns:th="http://www.thymeleaf.org">
    <!-- Start Mainmenu Area -->
    <div id="sticky-header-with-topbar" class="mainmenu__area sticky__header">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3">
                    <div class="logo">
                        <a href="/">
                            <img src="/images/logo-text.png" alt="logo">
                        </a>
                    </div>
                </div>
                <!-- Start MAinmenu Ares -->
                <div class="col-md-8 col-lg-8 col-sm-6 col-xs-6">
                    <nav class="mainmenu__nav hidden-xs hidden-sm">
                        <ul class="main__menu">
                            <li><a href="/">Головна</a>
                            </li>
                            <li class="drop"><a href="/shop">Магазин</a>
                                <ul class="dropdown mega_dropdown" >
                                    <!-- Start Single Mega MEnu -->
                                    <li th:each="a :${animals}" th:id="${a.getUrl()}" class="animal">
                                        <a class="mega__title" th:href="@{|/shop/${a.getUrl()}|}" th:text="${a.getName()}"></a>
                                        <ul class="mega__item">
                                            <li th:each="ct : ${categories}" th:if="${ct.getAnimal.getId()==a.getId()}"><a th:href="@{|/shop/${a.getUrl()}/${ct.getUrl()}|}"  th:text="${ct.getName()}"></a></li>
                                        </ul>
                                    </li>
                                    <!-- End Single Mega MEnu -->
                                    <!-- Start Single Mega MEnu -->
                                    <li th:each="a :${animals}" th:id="'animal-image-'+${a.getUrl()}" class="animal-img">
                                        <ul class="mega__item">
                                            <li>
                                                <div class="mega-item-img">
                                                    <a th:href="@{|/shop/${a.getUrl()}|}">
                                                        <img th:src="@{'/shop/getAnimalImg/'+${a.getId()}}" alt="" width="100%">
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- End Single Mega MEnu -->

                                </ul>
                            </li>
                            <li><a href="/contact">Контакти</a></li>
                        </ul>
                    </nav>
                    <div class="mobile-menu clearfix visible-xs visible-sm">
                        <nav id="mobile_dropdown">
                            <ul>
                                <li><a href="/">Головна</a>
                                </li>
                                <li><a href="/shop">Магазин</a>
                                    <ul class="dropdown">
                                        <li th:each="a :${animals}"><a href="#" th:text="${a.getName()}">Собаки <span><i class="zmdi zmdi-chevron-right"></i></span></a>
                                            <ul class="lavel-dropdown">
                                                <li th:each="ct : ${categories}" th:if="${ct.getAnimal.getId()==a.getId()}"><a href="/shop" th:text="${ct.getName()}">Gutter 4 Column</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="/contact">Контакти</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- End MAinmenu Ares -->
                <div class="col-md-2 col-sm-4 col-xs-3">
                    <ul class="menu-extra">
                         <li class="search search__open"><span class="ti-search"></span></li>
                        <!-- <li><a href="login-register.html"><span class="ti-user"></span></a></li> -->
                        <li class="cart__menu"><span class="ti-shopping-cart"></span></li>
                        <li class="toggle__menu hidden-xs hidden-sm"><span class="ti-menu"></span></li>
                    </ul>
                </div>
            </div>
            <div class="mobile-menu-area"></div>
        </div>
    </div>
    <!-- End Mainmenu Area -->
</header>
<!-- End Header Style -->